

  <div class="section section-white">



    <div class="container ">
      <div class="row text-center">
        <div class="col-md-10 ml-auto mr-auto"> <br /><br />
          <h1 class="h2fix">BE THE SHIFT Workshops: </h1>
    
          <hr>
              </div>
    
              <div class="col-md-9 ml-auto mr-auto">
    
                <br /><br />
                <b>B</b>ringing <b>E</b>ducation <b>T</b>o <b>H</b>elp <b>E</b>nhance <b>S</b>tudent’s Health (by) <b>I</b>nforming <b>F</b>amilies (and) <b>T</b>eachers
                <br /><br />
                    
                           </div>    </div> 
    <div class="row text-center">
      <div class="col-md-9 ml-auto mr-auto">
    
    <br /><br />
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
        <b>Om Workshop Series  (total of 3 included in price)</b>
              </div>
            </div>
            <div class="card-body">        <br />   <br />   
              <ul style="text-align:left">
                <li><b>Yoga Workshop for Students</b> (please pick one age group from the following) 
                 
                  <p> <br /><b>Preschool:</b> This program will introduce the most basic yoga postures to children in a fun, playful way. Developmental props and catchy songs will enhance the student’s experience. Through repetition and consistent class structure, the foundation of a yoga practice will be established. Even our preschool programs will allow for an authentic introduction to the practice of yoga as a tool to maintain and/or develop a positive relationship with body and mind. This program will emphasize positive self-talk, self-compassion, and an age-appropriate introduction to the practice of yoga. </p>
                  <p><br /><b>Elementary School:</b> This program will include the opportunity to learn age-appropriate and creative yoga poses, while maintaining a playful, fun class experience. Through games, props, and songs, classes will encourage students to build self-confidence, increase physical strength, and improve concentration. This program will allow for an authentic introduction to the practice of yoga as a tool to maintain and/or develop a positive relationship with body and mind. This program will emphasize positive self-talk, self-compassion, body positivity introduced in a mindful way, and an age-appropriate introduction to the practice of yoga.
                  </p>
                  <p><br /><b>Middle School:</b> Through discussion, mindful games, breathing, and meditation techniques, deeper explanations of yoga concepts will be explored in a supportive, fun atmosphere. This program will include the opportunity to learn how to use the principles of yoga to reduce stress and anxiety, enhance peer relationships, learn to expand the expression of feelings, and increase confidence and acceptance of rapid changes occurring to the body. This program will emphasize positive self-talk, self-compassion, body positivity introduced in a mindful way, and an age-appropriate introduction to the practice of yoga. 
                  </p>
                  <p><br><b>High School:</b> In addition to a light vinyasa flow, this class will introduce, through experiential practices, mindfulness, meditation, and breathing techniques. These techniques will be especially accentuated, as they can help children to flourish both in school and in life. Mindfulness, meditation, and breathing techniques are as much a guide for children as they are for the adults around them, helping all with stress management, self-awareness, and emotion regulation. These practices, along with yoga, have been proven to improve attention, memory, and alleviate academic stress.
                  </p><br ><br >
                </li>
                <li><b>Workshop for Parents or Students</b> (either student or parent workshop included - additional cost for both)
                  <p><br><b>Students:</b> This program will highlight signs of anxiety, its negative implications on the body, as well as exercises and strategies that students can utilize to manage feelings of stress and anxiety. The limbic system of the brain and its impact on managing and processing intense or anxiety-provoking material will be explained, as well as concrete tools to regulate the system. Concrete tools, such as the anchoring of the breath, along with a simple meditation practice, will be presented and explored as mechanisms to reduce negative emotional, mental, and physical associations with feelings of anxiety.  
                  </p>
                  <p><br ><b>Parents:</b> In addition to the above, this program will include a discussion of effective language to use when supporting a child who is dealing with stress or anxiety in any of its forms. This program will highlight the importance of expressing feelings, emotional regulation, and problem-solving.
                  </p><br ><br >
      
                </li>
                <li><b>Body Positivity Workshop</b> (included)
                  <p><br><b>Students:</b> This program will highlight the negative body image crisis that plagues society. The ever-changing body image throughout history, its implications to current-day perceptions of our bodies, and tools to shift those perspectives will be discussed. How advertising, diet culture, and social media may contribute to these negative perceptions of our bodies will also be explored. 
                  </p>
        
                </li>
              </ul>
             


    
            </div>    </div> <br /><br />
        </div>
    
    
    <br /><br /><br />
    
    </div>
    
    </div>
    </div>
      <div class="section section-tabs">
        <div class="container ">
        
        <div class="row text-center">
          <div class="col-md-9 ml-auto mr-auto">
        
        <br /><br />
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
            <b>Namaste Workshop Series (total of 6 included in the price)</b>
                  </div>
                </div>
                <div class="card-body">        <br />
               
                  <br />
                <ul style="text-align:left">
                    <li><b>Two Yoga Workshops for Students</b> (please pick one age group from the following, to be offered twice)
                     
                      <p> <br /><b>Preschool:</b> This program will introduce the most basic yoga postures to children in a fun, playful way. Developmental props and catchy songs will enhance the student’s experience. Through repetition and consistent class structure, the foundation of a yoga practice will be established. Even our preschool programs will allow for an authentic introduction to the practice of yoga as a tool to maintain and/or develop a positive relationship with body and mind. This program will emphasize positive self-talk, self-compassion, and an age-appropriate introduction to the practice of yoga. 
                      </p>
                      <p><br><b>Elementary School:</b> This program will include the opportunity to learn age-appropriate and creative yoga poses, while maintaining a playful, fun class experience. Through games, props, and songs, classes will encourage students to build self-confidence, increase physical strength, and improve concentration. This program will allow for an authentic introduction to the practice of yoga as a tool to maintain and/or develop a positive relationship with body and mind. This program will emphasize positive self-talk, self-compassion, body positivity introduced in a mindful way, and an age-appropriate introduction to the practice of yoga.
                      </p>
                      <p><br><b>Middle School:</b> Through discussion, mindful games, breathing, and meditation techniques, deeper explanations of yoga concepts will be explored in a supportive, fun atmosphere. This program will include the opportunity to learn how to use the principles of yoga to reduce stress and anxiety, enhance peer relationships, learn to expand the expression of feelings, and increase confidence and acceptance of rapid changes occurring to the body. This program will emphasize positive self-talk, self-compassion, body positivity introduced in a mindful way, and an age-appropriate introduction to the practice of yoga. 
                      </p>
                      <p><br/><b>High School:</b> In addition to a light vinyasa flow, this class will introduce, through experiential practices, mindfulness, meditation, and breathing techniques. These techniques will be especially accentuated, as they can help children to flourish both in school and in life. Mindfulness, meditation, and breathing techniques are as much a guide for children as they are for the adults around them, helping all with stress management, self-awareness, and emotion regulation. These practices, along with yoga, have been proven to improve attention, memory, and alleviate academic stress.
                      </p><br><br>
                    </li>
                    <li><b>Two Meditation & Mindfulness Workshops</b> (included - one session for students and one session for teachers)
                      <p><br /><b>Students:</b> This program will explore the concept of mindfulness, how to integrate the practice into a daily routine, and how it can be a tool to improve academic performance and promote social-emotional regulation, cognitive clarity, and overall well-being. Through experiential practice, introductory mindfulness techniques will be presented. 
                      </p>
                      <p><br /><b>Teachers:</b> This program will educate teachers on how to incorporate the practice of mindfulness into the classroom. The principles of mindfulness and how to bring it to life in the classroom will be discussed. Teachers will also have the opportunity to practice mindfulness techniques themselves.
                       </p><br><br>
               
                    </li>
                    <li><b>Anxiety Workshop for Parents or Students</b> (either student or parent workshop included - additional cost for both)
                      <p><br ><b>Students:</b> This program will highlight signs of anxiety, its negative implications on the body, as well as exercises and strategies that students can utilize to manage feelings of stress and anxiety. The limbic system of the brain and its impact on managing and processing intense or anxiety-provoking material will be explained, as well as concrete tools to regulate the system. Concrete tools, such as the anchoring of the breath, along with a simple meditation practice, will be presented and explored as mechanisms to reduce negative emotional, mental, and physical associations with feelings of anxiety.  
                      </p>
                      <p><br ><b>Parents:</b> In addition to the above, this program will include a discussion of effective language to use when supporting a child who is dealing with stress or anxiety in any of its forms. This program will highlight the importance of expressing feelings, emotional regulation, and problem-solving.
                      </p>
                      <br><br>
                    </li>
                      <li><b>Body Positivity Workshop</b> (either student or parent workshop included - additional cost for both) 
                      <p><br ><b>Students:</b> This program will highlight the negative body image crisis that plagues society. The ever-changing body image throughout history, its implications to current-day perceptions of our bodies, and tools to shift those perspectives will be discussed. How advertising, diet culture, and social media may contribute to these negative perceptions of our bodies will also be explored. 
                      </p>
                      <p><br ><b>Parents:</b> In addition to the above, this program will include a discussion of effective languaging surrounding perceptions of the body. This program will highlight the importance of the impact of advertising, competition, perfectionism, and social media on body perception. Discussion will also include ways within your own home to support your child to navigate these areas. 
                      </p>
                      <br><br>
                    </li>
                  </ul>
      

        
                </div>    </div> <br /><br />
            </div>
        
        
        <br /><br /><br />
        
        </div>
        
        </div>
        </div>
        <div class="section section-white">
          <div class="container ">
          
          <div class="row text-center">
            <div class="col-md-9 ml-auto mr-auto">
          
          <br /><br />
              <div class="card">
                  <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
              <b>Warrior Workshop Series  (total of 9 included in the price) </b>
                    </div>
                  </div>
                  <div class="card-body">        <br />     
                    <br />
                    <ul style="text-align:left">
                        <li><b>Yoga Workshop for Students</b> (please pick one age group from the following, to be offered three times)
                         
                          <p> <br /><b>Preschool:</b> This program will introduce the most basic yoga postures to children in a fun, playful way. Developmental props and catchy songs will enhance the student’s experience. Through repetition and consistent class structure, the foundation of a yoga practice will be established. Even our preschool programs will allow for an authentic introduction to the practice of yoga as a tool to maintain and/or develop a positive relationship with body and mind. This program will emphasize positive self-talk, self-compassion, and an age-appropriate introduction to the practice of yoga. 
                          </p>
                          <p><br><b>Elementary School:</b> This program will include the opportunity to learn age-appropriate and creative yoga poses, while maintaining a playful, fun class experience. Through games, props, and songs, classes will encourage students to build self-confidence, increase physical strength, and improve concentration. This program will allow for an authentic introduction to the practice of yoga as a tool to maintain and/or develop a positive relationship with body and mind. This program will emphasize positive self-talk, self-compassion, body positivity introduced in a mindful way, and an age-appropriate introduction to the practice of yoga.
                          </p>
                          <p><br><b>Middle School:</b> Through discussion, mindful games, breathing, and meditation techniques, deeper explanations of yoga concepts will be explored in a supportive, fun atmosphere. This program will include the opportunity to learn how to use the principles of yoga to reduce stress and anxiety, enhance peer relationships, learn to expand the expression of feelings, and increase confidence and acceptance of rapid changes occurring to the body. This program will emphasize positive self-talk, self-compassion, body positivity introduced in a mindful way, and an age-appropriate introduction to the practice of yoga. 
                          </p>
                          <p><br/><b>High School:</b> In addition to a light vinyasa flow, this class will introduce, through experiential practices, mindfulness, meditation, and breathing techniques. These techniques will be especially accentuated, as they can help children to flourish both in school and in life. Mindfulness, meditation, and breathing techniques are as much a guide for children as they are for the adults around them, helping all with stress management, self-awareness, and emotion regulation. These practices, along with yoga, have been proven to improve attention, memory, and alleviate academic stress.
                          </p><br><br>
                        </li>
                        <li><b>Two Meditation & Mindfulness Workshops</b> (included - one session for students and one session for teachers)
                          <p><br /><b>Students:</b> This program will explore the concept of mindfulness, how to integrate the practice into a daily routine, and how it can be a tool to improve academic performance and promote social-emotional regulation, cognitive clarity, and overall well-being. Through experiential practice, introductory mindfulness techniques will be presented. 
                          </p>
                          <p><br /><b>Teachers:</b> This program will educate teachers on how to incorporate the practice of mindfulness into the classroom. The principles of mindfulness and how to bring it to life in the classroom will be discussed. Teachers will also have the opportunity to practice mindfulness techniques themselves.
                          </p><br><br>
                   
                        </li>
                        <li><b>Two Anxiety Workshops for Parents/Kids</b> 
                          <p><br ><b>Students:</b> This program will highlight signs of anxiety, its negative implications on the body, as well as exercises and strategies that students can utilize to manage feelings of stress and anxiety. The limbic system of the brain and its impact on managing and processing intense or anxiety-provoking material will be explained, as well as concrete tools to regulate the system. Concrete tools, such as the anchoring of the breath, along with a simple meditation practice, will be presented and explored as mechanisms to reduce negative emotional, mental, and physical associations with feelings of anxiety.  
                          </p>
                          <p><br ><b>Parents:</b> In addition to the above, this program will include a discussion of effective language to use when supporting a child who is dealing with stress or anxiety in any of its forms. This program will highlight the importance of expressing feelings, emotional regulation, and problem-solving.
                          </p>
                          <br><br>
                        </li>
                          <li><b>Body Positive Workshop for Students and Parents</b>
                          <p><br ><b>Students:</b> This program will highlight the negative body image crisis that plagues society. The ever-changing body image throughout history, its implications to current-day perceptions of our bodies, and tools to shift those perspectives will be discussed. How advertising, diet culture, and social media may contribute to these negative perceptions of our bodies will also be explored. 
                          </p>
                          <p><br ><b>Parents:</b> In addition to the above, this program will include a discussion of effective languaging surrounding perceptions of the body. This program will highlight the importance of the impact of advertising, competition, perfectionism, and social media on body perception. Discussion will also include ways within your own home to support your child to navigate these areas. 
                          </p>
                          <br><br>
                        </li>
                      </ul>
        
              
          
          
                  </div>    </div> <br /><br />
              </div>
          
          
          <br /><br /><br />
          
          </div>
          
          </div>
          </div>

          <div class="container">
            <div class="row text-center">
              <div class="col-md-8 ml-auto mr-auto"> 
                <h1 class="h2fix">Program Duration</h1>
          
                <hr>
                    </div>
          
                    <div class="col-md-7 ml-auto mr-auto">
          
                      <br /><br />
                 
                      <div class="card">
                          <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                      <b>Cost per Session</b>
                            </div>
                          </div>
                          <div class="card-body">        <br />
                            <table class="table table-borderless">
          
                              <tbody>
                         
                                <tr>
                                  <td scope="row">60 Minute Program - (from any offering above)</td>
                                  <td>$325</td>
                                </tr>
                          
                                <tr>
                                  <td scope="row">Series of 3 offerings, up to 60 minutes each </td>
                                  <td>$900</td>
                                </tr>
                                <tr>
                                  <td scope="row">Series of 6 offerings, up to 60 minutes each</td>
                                  <td>$1,750</td>
                                </tr>
                                <tr>
                                  <td scope="row">Series of 9 offerings, up to 60 minutes each</td>
                                  <td>$2,500</td>
                                </tr>
                           
          
          
                              </tbody>
          
          
                              
                            </table> 
                      
          
          
                                 </div>    </div> <br /><br />
                      </div>
          
          
                <br /><br /><br />
              </div>
            </div>


