<!-- <div id="vertical-nav">
  <ul>
    <li>
      <a data-click="#WhatIsPsychotherapy" data-number="1" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">What is Psychotherapy</span>
      </a>
    </li>
    <li>
      <a data-click="#BenefitsofPsychotherapy" data-number="2" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Benefits of Psychotherapy</span>
      </a>
    </li>
    <li>
      <a data-click="#WhyChooseUs" data-number="3" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Why Choose Us?</span>
      </a>
    </li>
    <li>
      <a data-click="#OurPsychotherapyClassesTreatments" data-number="4" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Psychotherapy Treatments</span>
      </a>
    </li>
    <li>
      <a data-click="#OurPsychotherapyforSpecificGroups" data-number="5" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Psychotherapy for Specific Groups</span>
      </a>
    </li>
    <li>
      <a data-click="#OurPsychotherapyPractitioners" data-number="6" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Psychotherapists</span>
      </a>
    </li>
    <li>
      <a data-click="#OurLocationPsychotherapy" data-number="7" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Location</span>
      </a>
    </li>
  </ul>
</div> -->
<div class="container">
  <div class="row text-center">
    <div class="col-md-10 ml-auto mr-auto"> <br /><br />
      <h1 class="h2fix">Holistic Psychotherapists <br /> Bergen County NJ</h1>
      <h2 class="h4fix">
        Our psychotherapists have the highest licensure for Psychotherapy in NJ. Holistic approach with a variety of therapy counseling services under one roof.
        
        <br /><br />Specializing in anxiety, depression, negative body image, eating disorders, & substance addiction. Individual counseling, family and groups. Welcoming joyful community.

    
    
      </h2>
       <br />  <hr> 
    </div>
  </div>
  <div class="container cd-section" id="WhatIsPsychotherapy">
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
        <h2>What is Psychotherapy?</h2> <br />
        <h4> 

          Psychotherapy is a talking therapy. Our therapists support you on your journey towards recovery, long term growth, health and wellness, ultimately seeking to bring you home to yourself.
          <br /><br />
          Whether you are dealing with anxiety or depression, an eating disorder or substance addiction, body image or adolescent issues, a divorce or the loss of a loved one, our expert psychotherapists can help.
          <br /><br />
          Therapy sessions are always confidential, so you can talk to your therapist about things that might feel uncomfortable otherwise.
          <br /><br />
          Choose whether to see our therapists on your own, with a family member, or to join a group for a sense of community and shared experience.
          

            <br /><br />
        </h4>    <hr> 
      </div>
    </div>
  </div>
  <div class="container cd-section" id="BenefitsofPsychotherapy">
    
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
        <h2>Benefits of Psychotherapy</h2> <br />
        <h4> 
          Our psychotherapists work with you to help you express the way that you feel and gain insight into those feelings and the issues behind them. The benefits of therapy are to help you cope with the challenges you are facing, and to find new ways to think about those challenges - in order to improve your emotional and mental wellbeing. <br /><br />
        
        </h4>      <hr> 
      </div>
    </div>
  </div>
  <div class="container cd-section" id="WhyChooseUs">
   
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
        <h2>Why Choose Us?</h2> <br />
        <h4>
          Our therapists have the highest licensure for psychotherapy in Bergen County NJ.
          <br /><br />
The Body Positive Works approach was born of the realization that having a variety of therapy counseling services under one roof – and providing a strong sense of community – would support clients in achieving better overall health, recovery, and long-term growth.
<br /><br />
Holistic psychotherapy is our specialty - aiming to treat the whole person.
Just as there is more than one approach to body work, there are many therapeutic approaches to the mind. There’s no one size fits all approach; no cookie cutters here. We use aspects of a multitude of modalities – including cognitive behavioral therapy, behavioral therapy, integrative therapy, holistic therapy, mindfulness-based cognitive therapy, and positive therapy, to treat the individual. 
 <br /><br />
          <br /><br />
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="section section-tabs cd-section" id="OurPsychotherapyClassesTreatments">
  <div class="container">
  <div class="row text-center">
    <br />
    <div class="col-md-10 ml-auto mr-auto">
      <h2>Our Psychotherapy Treatments</h2> <br /><br />
      <h4>
        We offer individual, family and group psychotherapy for all ages; children, adolescents, and adults.
        <br /><br />
        We provide group therapy for a number of conditions, including eating disorders, body image and grief. The experience of participating in a group is a sure-fire way to know that you are not traveling alone on your path. The support of the group, safely guided by our highly skilled psychotherapists, is a catalyst for recovery – shared tears and laughter – are the best tonic for the soul.
          <br /><br />
       <b> To book an appointment call <a href="tel:201-708-8448">201-708-8448.</a></b>
        
      
        <br /><br /> <br />
      </h4>
    

    </div></div>
  </div>
</div>
<div class="section section-white cd-section" id="OurPsychotherapyforSpecificGroups">
  <div class="container">
  <div class="row text-center">
    <div class="col-md-12 ml-auto mr-auto">   <div class="col-md-10 ml-auto mr-auto">
      <h2>Our Psychotherapy for Specific Groups</h2> <br /><br />
      <h4>

        
        <br /> 
        We work with people managing issues including: anxiety and depression, eating disorders, disordered eating, body image, substance addiction, self acceptance, grief and loss, family dynamics, phase of life issues, anxiety, depression, stress, women’s issues, parenting and marital issues. 
        <br />
        <br /> <br />
      </h4></div>
      <div class="card card-nav-tabs">
        <div class="card-header card-header-rose">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active show" href="#BodyPositiveMeditation" data-toggle="tab">Our Therapy Groups</a>
                </li>
       
               
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content text-center">
            <div class="tab-pane active show" id="BodyPositiveMeditation">
              <br /><br />
             
               
                  <h4 class="card-title">Women, Food, and Healing</h4>
                  <hr />
                
                  Do you judge what you eat, do you judge yourself? Are you constantly thinking about food… what you “should or shouldn’t" eat, how much you “should or shouldn’t" eat, or if you’ve eaten too much? Do you label foods as “good” or “bad”? Do you determine your self-worth by the number on the scale? Is your relationship with food on your mind? Does what you eat or don’t eat make you feel better or worse about yourself?
                    <br /><br />
                  If the answer is “yes” to any of these questions, join Melanie Struble, LCSW, LCADC for our 6 week course, which takes place on Wednesdays.
                    <br /><br />
                  Other therapy groups include “Building a New Normal After Loss”, and a support group specifically for the loved ones of those struggling with an eating disorder.
                  
               
                    <br /><br />
               
             
            </div>
     
           
         
            
          </div>
        </div>
      </div><br>  <br> 
      <h4><b>To book classes and to see our schedule <a routerLink="/Schedule" routerLinkActive="active">click here.</a></b></h4>
      <br> 
    </div></div>
  </div>
</div>
<div class="section section-tabs cd-section" id="OurPsychotherapyPractitioners">
  <div class="row text-center">
    <div class="col-sm-10 col-md-7 ml-auto mr-auto">
      <h2>Our Psychotherapists</h2> <br /><br />
    </div>
  </div>
  <div class="row equal">
    <div class="col-md-10 ml-auto mr-auto">
      <div class=" col-md-9 ml-auto mr-auto">
        <div id="carouselteacher11" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row equal">
                <div class="col align-self-center">  
                  <div class="card card-profile">
                    <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#JenKraft">
                      <div class="card-header card-header-image">
                        <picture>
                          <source srcset="/assets/images/Teacher-Melanie.webp" type="image/webp">
                          <source srcset="/assets/images/Teacher-Melanie.jpg" type="image/jpg">
                          <img src="/assets/images/Teacher-Melanie.jpg" alt="Melanie" class="img">
                        </picture>
                        <div class="card-title">Melanie Struble, LCSW, LCADC</div>
                        <div class="colored-shadow" style="background-image: url ('/assets/images/Teacher-Melanie.webp'); opacity: 1;"></div>
                      </div><br />
                      <div class="card-body ">
                        <h5 class="card-category text-dark" style="text-transform:uppercase;  font-size: 99%;"> Licensed Clinical Social Worker <br />Licensed Clinical Alcohol & Drug Counselor <br />Child, Adolescent, & Adult <br />BoPo Owner</h5>

                
                   
                   
                        <p class="card-description"> 

                          Melanie, Owner of Body Positive Works, is a psychotherapist whose practice is dedicated to working with adolescents, adults, and families who are dealing with eating disorders, body image, substance addiction, and stage of life issues.  
                          <br /><br />
                          A Licensed Clinical Social Worker and Licensed Clinical Alcohol and Drug Counselor with over 27 years of direct practice experience...      </p>
                        <b class="text-dark">Click for more</b>
                      </div>
                    </a>
                   
                    <div class="modal fade" id="JenKraft" tabindex="-1" role="dialog" aria-labelledby="JenKraft" aria-hidden="true">
                      <div class="modal-dialog modal-lg " role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-rose" id=""><b>Melanie Struble, LCSW, LCADC</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">

                            Melanie, Owner of Body Positive Works, is a psychotherapist whose practice is dedicated to working with adolescents, adults, and families who are dealing with eating disorders, body image, substance addiction, and stage of life issues.  
                            <br /><br />
                            A Licensed Clinical Social Worker and Licensed Clinical Alcohol and Drug Counselor with over 27 years of direct practice experience, she holds the highest New Jersey licensure in both disciplines.
                            <br /><br />
                            Over the years, Melanie has worked with clients in a variety of settings: hospital, crisis center, private non-profit agency, and private practice. She has gained a broad perspective and deep understanding of the challenges her clients face when seeking specialized services from multiple resources. 
                            <br /><br />
                            In addition, she has completed a 60-hour Meditation Teacher Training with Rev. Jaganath Carrera of Yoga Life Society as well as Yin Yoga Training, Neurosculpting® Level 1 Training, and Functional Anatomy Teacher Training with Jody (Domerstad) Boisits. She has also taken advanced training with Dr. Melody Moore of the Embody Love Movement. She is currently working on completing a Yoga Alliance 300 hour teaching training program.
                            <br /><br />
                            Melanie holds a Master of Social Work from Columbia University and a BA in Psychology and Law and Justice from The College of New Jersey.
                                       
                            </div>
                          <div class="modal-footer">
                            <a routerLink="/About-Us/Contact-Us" routerLinkActive="active" onclick="javascript:$('#JenKraft').modal('hide');" class="btn btn-rose">Get in Touch</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
           
                <div class="col align-self-center">  
                  <div class="card card-profile">
                    <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#Wendy">
                      <div class="card-header card-header-image">
                        <picture>
                          <source srcset="/assets/images/Teacher-wendy.webp" type="image/webp">
                          <source srcset="/assets/images/Teacher-wendy.jpg" type="image/jpg">
                          <img src="/assets/images/Teacher-wendy.jpg" alt="Wendy" class="img">
                        </picture>
                        <div class="card-title">Wendy Coffey, MSW, LCSW</div>
                        <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-wendy.webp'); opacity: 1;"></div>
                      </div><br />
                      <div class="card-body ">
                        <h5 class="card-category text-dark"  style="text-transform:uppercase;  font-size: 99%;">LICENSED CLINICAL SOCIAL WORKER</h5>
                        <p class="card-description"> 
                          Wendy Coffey is a Licensed Clinical Social Worker in the state of New Jersey. Her background is in family systems therapy. Having been trained in crisis intervention, she is familiar with family dynamics and how they affect the individual.
                          <br /><br />
                          Wendy has worked with adults, adolescents and children who present with anxiety, depression and time of life stressors. She believes in a holistic...


                        </p>
                        <b class="text-dark">Click for more</b>
                      </div>
                    </a>
                   
                    <div class="modal fade" id="Wendy" tabindex="-1" role="dialog" aria-labelledby="Wendy" aria-hidden="true">
                      <div class="modal-dialog modal-lg " role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-rose" id=""><b>Wendy Coffey, MSW, LCSW</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Wendy Coffey is a Licensed Clinical Social Worker in the state of New Jersey. Her background is in family systems therapy. Having been trained in crisis intervention, she is familiar with family dynamics and how they affect the individual.
                            <br /><br />
                            Wendy has worked with adults, adolescents and children who present with anxiety, depression and time of life stressors. She believes in a holistic approach to treatment, which includes the integration of environment, body and mind.
                            <br /><br />
                            In her role as the town Board of Health Vice President she has been instrumental in bringing wellness programs to her community and is active in her town environmental programming as well as being a leader in the current Stigma free initiative.
                                            
                            </div>
                          <div class="modal-footer">
                            <a routerLink="/About-Us/Contact-Us" routerLinkActive="active" onclick="javascript:$('#Wendy').modal('hide');" class="btn btn-rose">Get in Touch</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="col align-self-center">  
                  <div class="card card-profile">
                    <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#Chani">
                      <div class="card-header card-header-image">
                        <picture>
                          <source srcset="/assets/images/Teacher-Chani.webp" type="image/webp">
                          <source srcset="/assets/images/Teacher-Chani.jpg" type="image/jpg">
                          <img src="/assets/images/Teacher-Chani.jpg" alt="Chani" class="img">
                        </picture>
                        <div class="card-title">Chani Getter, MSW, LSW</div>
                        <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-Chani.webp'); opacity: 1;"></div>
                      </div><br />
                      <div class="card-body ">
                        <h5 class="card-category text-dark"  style="text-transform:uppercase;  font-size: 99%;">LICENSED SOCIAL WORKER</h5>
                        <p class="card-description"> 
                    
                       
                          
                          Chani is a licensed social worker and an ordained Interfaith Minister who was raised in a Hassidic Jewish home. 
                          <br /><br />
                          Chani provides therapy for individuals, couples and families. She is especially skilled in working with individuals who were raised in insular and/or fundamental religious communities who are struggling with the residual imprint of early childhood dogma. She has worked extensively with ex-Ultra-Orthodox Jewish, ex-Mormon...

                        </p>
                        <b class="text-dark">Click for more</b>
                      </div>
                    </a>
                   
                    <div class="modal fade" id="Chani" tabindex="-1" role="dialog" aria-labelledby="Chani" aria-hidden="true">
                      <div class="modal-dialog modal-lg " role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-rose" id=""><b>Chani Getter, MSW, LSW</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Chani is a licensed social worker and an ordained Interfaith Minister who was raised in a Hassidic Jewish home. 
                            <br /><br />
                            Chani provides therapy for individuals, couples and families. She is especially skilled in working with individuals who were raised in insular and/or fundamental religious communities who are struggling with the residual imprint of early childhood dogma. She has worked extensively with ex-Ultra-Orthodox Jewish, ex-Mormon, and ex-Muslim, and Ex-Fundamental Christian (especially those home-schooled). 
                            <br /><br />Chani created the Family Justice program at Footsteps, which trains lawyers and therapists on how best to provide support for individuals with children who are leaving insular communities. 
                            <br /><br />Chani facilitated a monthly support group for LGBTQIA women in NYC for 13 years. She directed and facilitated weekend retreats for LGBTQIA individuals and families for over 7 years. 
                            <br /><br />
                            Chani works with individuals who have past trauma, be it religious, sexual abuse or other. She understands the impact that trauma has on the brain and body, and that it can affect every aspect of daily life even years afterwards. She helps clients to build a life beyond the limitations they’ve encountered.
                                         
                            </div>
                          <div class="modal-footer">
                            <a routerLink="/About-Us/Contact-Us" routerLinkActive="active" onclick="javascript:$('#Chani').modal('hide');" class="btn btn-rose">Get in Touch</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
          
          </div>
        </div>
      </div>
      <!-- <a class="carousel-control-prev"  role="button" data-slide="prev" onclick="$('#carouselteacher11').carousel('prev')">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next"  role="button" data-slide="next" onclick="$('#carouselteacher11').carousel('next')">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>
  </div>
</div>
<div class="section section-white">
  <div class="container cd-section" id="OurLocationPsychotherapy">
    <div class="row text-center">
      <div class="col-md-6 ml-auto mr-auto">
        <h2>Our Location</h2> <br />
        <h4> 
          
           
          Our home is a beautiful heritage house at the heart of Saddle River, Bergen County NJ. We are directly across the street from Wandell Elementary School, and next door to the Municipal Building. 
          <br /><br />
          We are centrally located with convenient access to Rt. 17 and the Garden State Parkway, and on the border of Rockland County. Check out how close you are to us on the map or use our drive time calculator from all localities – including Rockland’s Pearl River and Suffern... psychotherapy this good is well worth a short drive. Promise!
          
          
          <br /><br /><br />
          <button onclick="javascript:$('.modal ').insertAfter($('body'));" class="btn btn-info" type="button" data-toggle="modal" data-target="#LocationModalLabel">Drive time calculator<div class="ripple-container"></div></button>
          <div class="modal fade" id="LocationModalLabel" tabindex="-1" role="dialog" aria-labelledby="LocationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title " id="LocationModalLabel">Drive time calculator</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <a target="_blank" href="https://www.google.com/maps?ll=41.031181,-74.097269&z=16&t=m&hl=en-US&gl=GB&mapclient=embed&daddr=96+E+Allendale+Rd+Saddle+River,+NJ+07458+USA@41.031181,-74.0972695" class="btn btn-info d-flex justify-content-center">Get
                    directions to us&nbsp;&nbsp;<fa-icon [icon]="faMapMarkerAlt"></fa-icon></a><br />
                  <table class="table  table-striped">
                    <thead>
                      <tr>
                        <th>Location</th>
                        <th>Drive</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Saddle River</td>
                        <td>0 min</td>
                      </tr>
                      <tr>
                        <td>Allendale</td>
                        <td>7 min</td>
                      </tr>
                      <tr>
                        <td>Bergen</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Chestnut Ridge</td>
                        <td>5 min</td>
                      </tr>
                      <tr>
                        <td>Fair Lawn</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Franklin Lakes</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Glen Rock</td>
                        <td>16 min</td>
                      </tr>
                      <tr>
                        <td>Hawthorn</td>
                        <td>19 min</td>
                      </tr>
                      <tr>
                        <td>Hillsdale</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Hohokus</td>
                        <td>8 min</td>
                      </tr>
                      <tr>
                        <td>Mahwah</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Midland Park</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Monsey</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Montebello</td>
                        <td>18 min</td>
                      </tr>
                      <tr>
                        <td>Montvale</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Nanuet</td>
                        <td>16 min</td>
                      </tr>
                      <tr>
                        <td>Northvale</td>
                        <td>22 min</td>
                      </tr>
                      <tr>
                        <td>Norwood</td>
                        <td>20 min</td>
                      </tr>
                      <tr>
                        <td>Paramus</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Park Ridge</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Pear River</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Pearl River</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Ramsey</td>
                        <td>7 min</td>
                      </tr>
                      <tr>
                        <td>Ridgewood</td>
                        <td>11 min</td>
                      </tr>
                      <tr>
                        <td>Saddle Brook</td>
                        <td>19 min</td>
                      </tr>
                      <tr>
                        <td>Spring Vallet</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Suffern</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Upper Saddle River</td>
                        <td>4 min</td>
                      </tr>
                      <tr>
                        <td>Waldwick</td>
                        <td>6 min</td>
                      </tr>
                      <tr>
                        <td>Washington Township</td>
                        <td>10 min</td>
                      </tr>
                      <tr>
                        <td>Westwood</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Woodlcliff Lake</td>
                        <td>4 min</td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <br /><br /> <br /><br />
        </h4>
      </div>
      <div class="col-md-6 ml-auto mr-auto"> <br /><br />
        <div class="embed-responsive embed-responsive-4by3">
          <div id="map_canvas" class="embed-responsive-item">
            <iframe defer  title="Our Location"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.729161579471!2d-74.09945818458526!3d41.03118097929852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e43ef4935539%3A0x5592b2beaa803c74!2s96+E+Allendale+Rd%2C+Saddle+River%2C+NJ+07458%2C+USA!5e0!3m2!1sen!2suk!4v1550608932940"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
