<!-- <div id="vertical-nav">
        <ul>
          <li>
            <a data-click="#WhatIsReiki" data-number="1" class="">
              <span class="cd-dot"></span>
              <span class="cd-label">What is Reiki</span>
            </a>
          </li>
          <li>
            <a data-click="#BenefitsofReiki" data-number="2" class="">
              <span class="cd-dot"></span>
              <span class="cd-label">Reiki Benefits</span>
            </a>
          </li>
          <li>
            <a data-click="#WhyChooseUs" data-number="3" class="">
              <span class="cd-dot"></span>
              <span class="cd-label">Why Choose Us?</span>
            </a>
          </li>
          <li>
            <a data-click="#OurReikiClassesTreatments" data-number="4" class="">
              <span class="cd-dot"></span>
              <span class="cd-label">Our Reiki Treatments</span>
            </a>
          </li>
          <li>
            <a data-click="#OurReikiforSpecificGroups" data-number="5" class="">
              <span class="cd-dot"></span>
              <span class="cd-label">Our Reiki Treatments for Specific Groups</span>
            </a>
          </li>
          <li>
            <a data-click="#OurReikiPractitioners" data-number="6" class="">
              <span class="cd-dot"></span>
              <span class="cd-label">Our Reiki Master</span>
            </a>
          </li>
          <li>
            <a data-click="#OurLocationReiki" data-number="7" class="">
              <span class="cd-dot"></span>
              <span class="cd-label">Our Location</span>
            </a>
          </li>
        </ul>
      </div>


 -->




      <div class="container">
        <div class="row text-center">
          <div class="col-md-10 ml-auto mr-auto"> <br /><br />
            <h1 class="h2fix">Reiki Therapy <br /> Bergen County NJ</h1>
            <h2 class="h4fix">
                    Our Reiki Master is one of the best in Bergen County. We use reiki to accelerate the body’s natural ability to relax, de-stress and heal on all levels – physical, mental, emotional & spiritual.<br /><br > We specialize in anxiety, depression, negative body image, eating disorders, & substance addiction. Safe, joyous community.
            </h2>
             <br />  <hr> 
          </div>
        </div>
        <div class="container cd-section" id="WhatIsReiki">
          <div class="row text-center">
            <div class="col-md-10 ml-auto mr-auto">
              <h2>What is Reiki?</h2> <br />
              <h4> 
                    When people ask us “What is reiki?” we explain that it’s a gentle, light-touch treatment, used to accelerate the body’s natural ability to relax, release stress and heal itself on all levels – physical, mental, emotional & spiritual.
 
                    <br /><br />Reiki healing is completely non-invasive & safe for everyone, including children. It supports the body, mind and spirit in returning to its natural state of balance and wellbeing.
                     
                    <br /><br />In case you think reiki therapy is a bit “out there”, it is actually on the roster of services at numerous hospitals throughout the U.S. and the world.
                    Identify and address the mind and heart issues behind your relationship with food in order to cope with emotional eating, overeating, binging, and/or food restricting.
      
                  <br /><br />
              </h4>    <hr> 
            </div>
          </div>
        </div>
        <div class="container cd-section" id="BenefitsofReiki">
          
          <div class="row text-center">
            <div class="col-md-10 ml-auto mr-auto">
              <h2>Reiki Benefits</h2> <br />
              <h4> 
         
                    Reiki works hand-in-hand with conventional medicine. It can help reduce anxiety, stress, depression and insomnia, diminish pain, reduce side effects from treatments for various illnesses, release habitual patterns and addictions, accelerate healing and help to maintain a healthy immune system.
                    <br /><br />
                    It can also calm emotions and promote relaxation, self-empowerment, self-awareness and inner peace, as well as enhances your ability to meditate.
                    <br /><br />
                    Reiki, meditation and breath work have been shown to be of immense benefit to caretakers – mothers and fathers, and others caring for family members, doctors, nurses, aides, therapists and anyone who could use support while supporting others.
                    
                <br /><br />
              
              </h4>      <hr> 
            </div>
          </div>
        </div>
        <div class="container cd-section" id="WhyChooseUs">
         
          <div class="row text-center">
            <div class="col-md-10 ml-auto mr-auto">
              <h2>Why Choose Us?</h2> <br />
              <h4>
          
          
                    At Body Positive Works we create treatments around the individual; listening to your needs and creating sessions that empower and celebrate you. Reiki treatments are no exception. Your Reiki Master will create a treatment based entirely on your needs.
                    <br /><br />
                    You will be lying down, fully clothed, but you may choose whether the practitioner touches you (lightly) or not at all. If you feel a sensation you’d like to discuss, then do ask. It’s important that you feel relaxed as that, after all, is the point of Reiki.
                    <br /><br />
                    A reiki session can be used individually or in conjunction with other modalities like meditation and breath work. Each modality supports a re-connection of mind, body and spirit. This, in turn, supports a positive change in perspective about your body and your life, empowering you to recognize your strengths and purpose and live fully in the present moment.
                    <br /><br />
                    Used in conjunction with psychotherapy it can help to reduce stress and anxiety and further benefit the therapeutic process.
                    <br /><br />
                    You will receive instruction on how to take these practices home with you and use them in your everyday life.
                    
          
                <br /><br />
                <br /><br />
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-tabs cd-section" id="OurReikiClassesTreatments">
        <div class="container">
        <div class="row text-center">
          <br />
          <div class="col-md-10 ml-auto mr-auto">
            <h2>Our Reiki Treatments</h2> <br /><br />
            <h4>
                    Our reiki treatments last 30 or 60 minutes.
            
                <br /><br />
             <b> To book an appointment call <a href="tel:201-708-8448.">201-708-8448.</a></b>
              
            
              <br /><br /> <br />
            </h4>
          
      
          </div></div>
        </div>
      </div>
      <div class="section section-white cd-section" id="OurReikiforSpecificGroups">
        <div class="row text-center">
          <div class="col-md-10 ml-auto mr-auto">
      
              <div class="col-md-10 ml-auto mr-auto"> 
            <h2>Our Reiki Treatments for Specific Groups
              </h2> <br />
            <h4>
      
      
                
                    Reiki treatments are appropriate for everyone – from kids and teens to the middle aged and the elderly.
                <br /><br />
                Some of the ways we can help:
      
                <br /> <br /> 
                <span class="col-md-4 ml-auto mr-auto">
                        Reiki for prenatal and postnatal women<br /> 
                        Reiki for ADD<br /> 
                        Reiki for addiction recovery<br /> 
                        Reiki for depression<br /> 
                        Reiki for anxiety<br /> 
                        Reiki for eating disorders<br /> 
                        Reiki for grief and loss<br /> 
                        Reiki for athletes<br /> 
                        Reiki for kids<br /> 
                        Reiki for tweens<br /> 
                        Reiki for teens<br /> 
                        Reiki for menopause<br /> 
                        Reiki for negative body image<br /> 
                        Reiki for addiction<br /> 
                        Reiki for anxiety

                </span>  
              <br />
      
              <br /><br />
            </h4>  </div> 
          </div>
        </div>
      </div>
      <div class="section section-tabs cd-section" id="OurReikiPractitioners">
        <div class="row text-center">
          <div class="col-sm-10 col-md-7 ml-auto mr-auto">
            <h2>Our Reiki Master</h2> <br /><br />
          </div>
        </div>
        <div class="row equal">
                <div class="col-md-10 ml-auto mr-auto">
                  <div class=" col-md-9 ml-auto mr-auto">
                    <div id="carouselteacher11" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row equal">
                            <div class="col align-self-center">  
                              <div class="card card-profile">
                                <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#JenKraft">
                                  <div class="card-header card-header-image">
                                    <picture>
                                      <source srcset="/assets/images/Teacher-Eileen.webp" type="image/webp">
                                      <source srcset="/assets/images/Teacher-Eileen.jpg" type="image/jpg">
                                      <img src="/assets/images/Teacher-Eileen.jpg" alt="Eileen" class="img">
                                    </picture>
                                    <div class="card-title">Eileen Alexander, RYT</div>
                                    <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-Eileen.webp'); opacity: 1;"></div>
                                  </div><br />
                                  <div class="card-body ">
                                    <h5 class="card-category text-dark">REIKI MASTER TEACHER
                                            LIFE, GRIEF & SPIRITUAL COACHING
                                            REIKI, YOGA, MEDITATION AND REIKI TRAINING
                                            </h5>
                                    <p class="card-description"> 
                                            Eileen is a Reiki Master. Her practice is dedicated to bringing balance and healing to the mind, body and spirit through reiki, yoga, meditation and other healing and self-exploration processes.
                                            <br/><br/>
                                            She is a certified Life & Grief Coach, Usui Reiki Master Teacher and Registered Yoga & Meditation Teacher, with additional training in Children’s Yoga, Yoga for Cancer and Kundalini Yoga through a KRI Certification Program...
                                            </p>
                                    <b class="text-dark">Click for more</b>
                                  </div>
                                </a>
                               
                                <div class="modal fade" id="JenKraft" tabindex="-1" role="dialog" aria-labelledby="JenKraft" aria-hidden="true">
                                  <div class="modal-dialog modal-lg " role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-rose" id=""><b>Eileen Alexander, RYT</b></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
            
                                            Eileen is a Reiki Master. Her practice is dedicated to bringing balance and healing to the mind, body and spirit through reiki, yoga, meditation and other healing and self-exploration processes.
                                            <br/><br/>
                                            She is a certified Life & Grief Coach, Usui Reiki Master Teacher and Registered Yoga & Meditation Teacher, with additional training in Children’s Yoga, Yoga for Cancer and Kundalini Yoga through a KRI Certification Program.
                                            <br/><br/>
                                            Tailoring her practice to the needs of each client, Eileen combines various therapeutic modalities with compassion, support, and her personal and professional experience to guide others in discovering their own path to inner peace, hope, and healing. She also offers reiki training to those interested in empowering themselves through self-healing.
                                             <br/><br/>
                                            Eileen is a member of The Association for Comprehensive Energy Psychology, Yoga Alliance and International Kundalini Yoga Teachers Association. 
                                                            
                                        </div>
                                      <div class="modal-footer">
                                        <a routerLink="/About-Us/Contact-Us" routerLinkActive="active" onclick="javascript:$('#JenKraft').modal('hide');" class="btn btn-rose">Get in Touch</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                  <!-- <a class="carousel-control-prev"  role="button" data-slide="prev" onclick="$('#carouselteacher11').carousel('prev')">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next"  role="button" data-slide="next" onclick="$('#carouselteacher11').carousel('next')">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a> -->
                </div>
              </div>
      </div>
      <div class="section section-white">
        <div class="container cd-section" id="OurLocationReiki">
          <div class="row text-center">
            <div class="col-md-6 ml-auto mr-auto">
              <h2>Our Location</h2> <br />
              <h4> 
                
                    Our home is a beautiful heritage house at the heart of Saddle River, Bergen County NJ. We are directly across the street from Wandell Elementary School, and next door to the Municipal Building. 
                    <br /><br />
                    We are centrally located with convenient access to Rt. 17 and the Garden State Parkway, and on the border of Rockland County. Check out how close you are to us on the map or use our drive time calculator from all localities – Chestnut Ridge, Hawthorne, Franklin Lakes, Westwood... Reiki this good is well worth a short drive. Promise!
                    
                
                <br /><br /><br />
                <button onclick="javascript:$('.modal ').insertAfter($('body'));" class="btn btn-info" type="button" data-toggle="modal" data-target="#LocationModalLabel">Drive time calculator<div class="ripple-container"></div></button>
                <div class="modal fade" id="LocationModalLabel" tabindex="-1" role="dialog" aria-labelledby="LocationModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title " id="LocationModalLabel">Drive time calculator</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <a target="_blank" href="https://www.google.com/maps?ll=41.031181,-74.097269&z=16&t=m&hl=en-US&gl=GB&mapclient=embed&daddr=96+E+Allendale+Rd+Saddle+River,+NJ+07458+USA@41.031181,-74.0972695" class="btn btn-info d-flex justify-content-center">Get
                          directions to us&nbsp;&nbsp;<fa-icon [icon]="faMapMarkerAlt"></fa-icon></a><br />
                        <table class="table  table-striped">
                          <thead>
                            <tr>
                              <th>Location</th>
                              <th>Drive</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Saddle River</td>
                              <td>0 min</td>
                            </tr>
                            <tr>
                              <td>Allendale</td>
                              <td>7 min</td>
                            </tr>
                            <tr>
                              <td>Bergen</td>
                              <td>14 min</td>
                            </tr>
                            <tr>
                              <td>Chestnut Ridge</td>
                              <td>5 min</td>
                            </tr>
                            <tr>
                              <td>Fair Lawn</td>
                              <td>17 min</td>
                            </tr>
                            <tr>
                              <td>Franklin Lakes</td>
                              <td>17 min</td>
                            </tr>
                            <tr>
                              <td>Glen Rock</td>
                              <td>16 min</td>
                            </tr>
                            <tr>
                              <td>Hawthorn</td>
                              <td>19 min</td>
                            </tr>
                            <tr>
                              <td>Hillsdale</td>
                              <td>9 min</td>
                            </tr>
                            <tr>
                              <td>Hohokus</td>
                              <td>8 min</td>
                            </tr>
                            <tr>
                              <td>Mahwah</td>
                              <td>9 min</td>
                            </tr>
                            <tr>
                              <td>Midland Park</td>
                              <td>12 min</td>
                            </tr>
                            <tr>
                              <td>Monsey</td>
                              <td>14 min</td>
                            </tr>
                            <tr>
                              <td>Montebello</td>
                              <td>18 min</td>
                            </tr>
                            <tr>
                              <td>Montvale</td>
                              <td>13 min</td>
                            </tr>
                            <tr>
                              <td>Nanuet</td>
                              <td>16 min</td>
                            </tr>
                            <tr>
                              <td>Northvale</td>
                              <td>22 min</td>
                            </tr>
                            <tr>
                              <td>Norwood</td>
                              <td>20 min</td>
                            </tr>
                            <tr>
                              <td>Paramus</td>
                              <td>14 min</td>
                            </tr>
                            <tr>
                              <td>Park Ridge</td>
                              <td>9 min</td>
                            </tr>
                            <tr>
                              <td>Pear River</td>
                              <td>13 min</td>
                            </tr>
                            <tr>
                              <td>Pearl River</td>
                              <td>13 min</td>
                            </tr>
                            <tr>
                              <td>Ramsey</td>
                              <td>7 min</td>
                            </tr>
                            <tr>
                              <td>Ridgewood</td>
                              <td>11 min</td>
                            </tr>
                            <tr>
                              <td>Saddle Brook</td>
                              <td>19 min</td>
                            </tr>
                            <tr>
                              <td>Spring Vallet</td>
                              <td>17 min</td>
                            </tr>
                            <tr>
                              <td>Suffern</td>
                              <td>12 min</td>
                            </tr>
                            <tr>
                              <td>Upper Saddle River</td>
                              <td>4 min</td>
                            </tr>
                            <tr>
                              <td>Waldwick</td>
                              <td>6 min</td>
                            </tr>
                            <tr>
                              <td>Washington Township</td>
                              <td>10 min</td>
                            </tr>
                            <tr>
                              <td>Westwood</td>
                              <td>12 min</td>
                            </tr>
                            <tr>
                              <td>Woodlcliff Lake</td>
                              <td>4 min</td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <br /><br /> <br /><br />
              </h4>
            </div>
            <div class="col-md-6 ml-auto mr-auto"> <br /><br />
              <div class="embed-responsive embed-responsive-4by3">
                <div id="map_canvas" class="embed-responsive-item">
                  <iframe defer  title="Our Location"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.729161579471!2d-74.09945818458526!3d41.03118097929852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e43ef4935539%3A0x5592b2beaa803c74!2s96+E+Allendale+Rd%2C+Saddle+River%2C+NJ+07458%2C+USA!5e0!3m2!1sen!2suk!4v1550608932940"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      