<div class="shop-content">
 
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
        <hr> <br />
        <h1 class="h2fix">Check out our new Shop featuring our latest range</h1>
        <h2 class="h4fix">  <br /> <br />
          Have fun shopping!
          
            <div class="col-md-12">
              <div id='collection-component-1589804510845'></div>
</div>
           





        </h2><br /><br /><br />
      </div>
    </div>
  </div>

  