Body Positive Works – Founders Bios
 
Body Positive Works was born of the realization that having a variety of holistic and integrated services under one roof – and providing a strong sense of community – would support clients in achieving greater overall health, recovery, and long-term growth. 

Jen Kraft, EYRT
 
BOPO CO-FOUNDER & CO-OWNER, YOGA FOR POSITIVE BODY IMAGE TEACHER
 
Types of yoga classes taught: Body Positive Yoga, Yoga for Recovery from Eating Disorders, Disordered Eating and Negative Body Image
 
With a BA in English from the University of Michigan, and an MBA in Marketing from the University of Pennsylvania’s Wharton School, Jen launched a successful career as a marketing professional in Manhattan. She began her yoga practice after her third knee surgery at the age of 39. Originally there for the physical benefits, she soon realized that the philosophy behind the practice was helping her make peace with the negative body image issues she had struggled with since her teen years.

Eager to share yoga’s benefits, Jen decided to train as a yoga teacher and received her 200-hour teacher certification from Flow Yoga in Ho-Ho-Kus, N.J., and opened her own studio, Defiant Yoga, with the mission of helping individuals of all ages learn to love and accept themselves exactly as they are. She is proud to expand this mission as Co-Founder of Body Positive Works, an integrative healing and wellness sanctuary located in Saddle River, NJ.

Jen has taken advanced trainings with Dr. Melody Moore of the Embody Love Movement, Leslie Kaminoff of Yoga Anatomy, Charlotte Stone of the Stone Center for Yoga and Health and Dr. Deborah Lubetkin. She is currently working on her 500 hour certification with Jody (Domerstad) Boisits of Become One Wholeness and so far, has completed Neurosculpting® Level One, Yin Yoga Level One and Two, Yoga for Trauma and Addiction, and Functional Anatomy with Jody (Domerstad) Boisits.

Jen was also instrumental in launching Kula for Karma’s Yoga for Eating Disorder Recovery program. She co-wrote the manual and teaches the Yoga for Recovery from Eating Disorders advanced teacher trainings. She is passionate about this work and continues to teach Kula’s Yoga for Eating Disorders weekly at Body Positive Works.

In her yoga classes, Jen’s main priority is to help students hear their bodies’ signals and adjust the practice to their unique needs in a welcoming, non-competitive space. Jen focuses on the purpose of the poses and how they feel rather than how they look. Students are encouraged to look at the language they use towards their bodies (there is no such thing as a “bad” hip!) and to “stay on their own mats” (don’t compare!). Jen knows from personal experience that while embracing one’s body can be a challenging, lifelong journey, a regular yoga practice reminds us that our bodies deserve to be treated with the utmost kindness, love and respect.
 
Melanie Struble, LCSW, LCADC
 
BOPO CO-FOUNDER & CO-OWNER, CHILD, ADOLESCENT, & ADULT PSYCHOTHERAPIST

Melanie, Co-Founder of Body Positive Works, is a psychotherapist whose practice is dedicated to working with adolescents, adults, and families dealing with eating disorders, body image, substance addiction, and stage of life issues.  
 
A Licensed Clinical Social Worker and Licensed Clinical Alcohol and Drug Counselor with over 26 years of direct practice experience, she holds the highest New Jersey licensure in both disciplines.

Over the years, Melanie has worked with clients in a variety of settings: hospital, crisis center, private non-profit agency, and private practice. She has gained a broad perspective and deep understanding of the challenges her clients face when seeking specialized services from multiple resources. 
 
In addition, she has completed a 60-hour Meditation Teacher Training with Rev. Jaganath Carrera of Yoga Life Society as well as Yin Yoga Training, Neurosculpting® Level 1 Training, and Functional Anatomy Teacher Training with Jody (Domerstad) Boisits. She has also taken advanced training with Dr. Melody Moore of the Embody Love Movement. She is currently working on completing a Yoga Alliance 300 hour teaching training program.
 
Melanie holds a Master of Social Work from Columbia University and a BA in Psychology and Law and Justice from The College of New Jersey.
