<div class="container">
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto"> <br /><br />
        <h1 class="h2fix">Use Our Space
          </h1><br />  
        <h2 class="h4fix"> 

            Interested in holding a meeting or event in our space?
            Our home is a beautiful heritage house in the heart of Saddle River, Bergen County.
            We love sharing it with local businesses and individuals wanting to hold a meeting or event. 
            <br /><br />
            We are centrally located with convenient access to Rt. 17 and the Garden State Parkway, and on the border of Rockland County. We are directly across the street from Wandell Elementary School, and next door to the Municipal Building.
            <br /><br />
            Times must of course be pre-arranged with us and mutually agreed upon. 
            We can show you around and discuss what space best meets your needs. 
            Please arrange an appointment to take a tour.
        
        </h2>

        <br /> <hr>
        <br />

        <div  class="text-center">
          <a class="btn btn-rose mobile-close" routerLink="/About-Us/Contact-Us" routerLinkActive="active">Get in Touch</a>
        </div>
     
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-10 ">
          <div id="carouselTestIndicatorss" class="carousel slide"  data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card card-testimonial card-plain">
                
                  <div class="card-header card-header-image OurSpace">
                      <picture>
                        <source srcset="/assets/images/UseOurSpace8.webp" type="image/webp">
                        <source srcset="/assets/images/UseOurSpace8.jpg" type="image/jpg">
                        <img src="/assets/images/UseOurSpace8.jpg" alt="Yoga Studio" class="img">
                      </picture>
                      <div class="colored-shadow" style="background-image: url('/assets/images/UseOurSpace8.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                    </div><br />
                </div>
              </div>

              <div class="carousel-item  ">
                <div class="card card-testimonial card-plain">
                
                  <div class="card-header card-header-image textmonial">
                      <picture>
                        <source srcset="/assets/images/UseOurSpace7.webp" type="image/webp">
                        <source srcset="/assets/images/UseOurSpace7.jpg" type="image/jpg">
                        <img src="/assets/images/UseOurSpace7.jpg" alt="Yoga Studio" class="img">
                      </picture>
                      <div class="colored-shadow" style="background-image: url('/assets/images/UseOurSpace7.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                    </div><br />
                </div>
              </div>
              <div class="carousel-item ">
                <div class="card card-testimonial card-plain">
                
                  <div class="card-header card-header-image OurSpace">
                      <picture>
                        <source srcset="/assets/images/UseOurSpace4.webp" type="image/webp">
                        <source srcset="/assets/images/UseOurSpace4.jpg" type="image/jpg">
                        <img src="/assets/images/UseOurSpace4.jpg" alt="Yoga Studio" class="img">
                      </picture>
                      <div class="colored-shadow" style="background-image: url('/assets/images/UseOurSpace4.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                    </div><br />
                </div>
              </div>

              <div class="carousel-item ">
                  <div class="card card-testimonial card-plain">
                  
                    <div class="card-header card-header-image OurSpace">
                        <picture>
                          <source srcset="/assets/images/UseOurSpace5.webp" type="image/webp">
                          <source srcset="/assets/images/UseOurSpace5.jpg" type="image/jpg">
                          <img src="/assets/images/UseOurSpace5.jpg" alt="Yoga Studio" class="img">
                        </picture>
                        <div class="colored-shadow" style="background-image: url('/assets/images/UseOurSpace5.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                      </div><br />
                  </div>
                </div>
        

                <!-- <div class="carousel-item ">
                  <div class="card card-testimonial card-plain">
                  
                    <div class="card-header card-header-image OurSpace">
                        <picture>
                          <source srcset="/assets/images/UseOurSpace3.webp" type="image/webp">
                          <source srcset="/assets/images/UseOurSpace3.jpg" type="image/jpg">
                          <img src="/assets/images/UseOurSpace3.jpg" alt="Yoga Studio" class="img">
                        </picture>
                        <div class="colored-shadow" style="background-image: url('/assets/images/UseOurSpace3.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                      </div><br />
                  </div>
                </div> -->
                <div class="carousel-item ">
                  <div class="card card-testimonial card-plain">
                  
                    <div class="card-header card-header-image OurSpace">
                        <picture>
                          <source srcset="/assets/images/UseOurSpace6.webp" type="image/webp">
                          <source srcset="/assets/images/UseOurSpace6.jpg" type="image/jpg">
                          <img src="/assets/images/UseOurSpace6.jpg" alt="Yoga Studio" class="img">
                        </picture>
                        <div class="colored-shadow" style="background-image: url('/assets/images/UseOurSpace6.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                      </div><br />
                  </div>
                </div>
            
                
              <a class="carousel-control-prev"  role="button" data-slide="prev"  onclick="$('#carouselTestIndicatorss').carousel('prev')">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next"  role="button" data-slide="next" onclick="$('#carouselTestIndicatorss').carousel('next')">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>

