<!-- <div id="vertical-nav">
  <ul>
    <li>
      <a data-click="#WhatIsNutrition" data-number="1" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">What is Nutrition</span>
      </a>
    </li>
    <li>
      <a data-click="#BenefitsofNutrition" data-number="2" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Benefits of Nutrition</span>
      </a>
    </li>
    <li>
      <a data-click="#WhyChooseUs" data-number="3" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Why Choose Us?</span>
      </a>
    </li>
    <li>
      <a data-click="#OurNutritionClassesTreatments" data-number="4" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Nutrition Treatments</span>
      </a>
    </li>
    <li>
      <a data-click="#OurNutritionforSpecificGroups" data-number="5" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Nutrition Treatments for Specific Groups</span>
      </a>
    </li>
    <li>
      <a data-click="#OurNutritionPractitioners" data-number="6" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Nutritionist</span>
      </a>
    </li>
    <li>
      <a data-click="#OurLocationNutrition" data-number="7" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Location</span>
      </a>
    </li>
  </ul>
</div> -->
<div class="container">
  <div class="row text-center">
    <div class="col-md-10 ml-auto mr-auto"> <br /><br />
      <h1 class="h2fix">Registered Dietician <br />Bergen County NJ</h1>
      <h2 class="h4fix">
        Body Positive Works is proud to host one of the top dietitians in Bergen County NJ. <br />Specializing in emotional eating, overeating, binging, & food restricting. Individualized nutrition counseling. Addressing the mind & heart issues behind our relationship with food.  Safe & joyful community.   

      </h2>
       <br />  <hr> 
    </div>
  </div>
  <div class="container cd-section" id="WhatIsNutrition">
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
        <h2>What is Nutrition?</h2> <br />
        <h4> 
          Google “what is nutrition?” and you will get the obvious answer. That nutrition is the intake of food in relation to your dietary needs. Good nutrition – defined as a well-balanced diet and regular exercise – is a cornerstone of good health. Poor nutrition leaves you vulnerable to illness, impaired physical and mental development, and lower productivity.
          <br /><br />
At Body Positive Works nutrition is so much more than a “good” diet. It’s about nourishment on every level. It encompasses our relationships with our family, friends, nature, the wider world, and most importantly – our relationship with ourselves.
<br /><br />
That’s why we identify and address the mind and heart issues behind your relationship with food in order to cope with emotional eating, overeating, binging, and/or food restricting.

            <br /><br />
        </h4>    <hr> 
      </div>
    </div>
  </div>
  <div class="container cd-section" id="BenefitsofNutrition">
    
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
        <h2>Benefits of Nutrition</h2> <br />
        <h4> 
          The benefits of nutrition are many – but the headline is that good nutrition will improve both the quality and length of your life. Your energy levels and brain function will improve.  A diet low in cholesterol, sodium, and fat or that includes only “good fats” (like avocado and coconut oil), will lower your risk of heart disease. A diet rich in calcium will build bone strength.
          <br /><br />
So far so good. But that’s not where we leave it at Body Positive Works. Specialists in emotional eating, overeating and binge eating disorders, we believe nutrition should be health-centered and weight neutral. That’s why we take an integrative approach that fosters self-Love, self-Care, and self-Acceptance. Our food protocols are focused around overall well-being, rather than trying to achieve a certain weight or culturally defined standard of beauty.
 <br /><br />
        
        </h4>      <hr> 
      </div>
    </div>
  </div>
  <div class="container cd-section" id="WhyChooseUs">
   
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
        <h2>Why Choose Us?</h2> <br />
        <h4>
          We are proud to work with one of the top dietitians in Bergen County. Our principle is to provide nutrition services that empower the individual with practical solutions.
          <br /><br />
          We understand that personal wellness is a journey, not a destination. And that one size does not fit all. Body Positive Works offers both individualized mind-body nutrition counseling as well as small group programs and workshops to give you compassionate support, helping you learn to take care of your whole self and guiding you through the self-discovery process that brings about real and lasting change.
          <br /><br />
          Our mantra is “No Judgment. No Food Shame.”
          <br /><br />
          You will never find us saying things like: there is a “right” or “wrong” way to eat, or that you should never eat carbs again, or that a certain diet is the only way to go. We will also never allow you to say that you are “good” or “bad” according to what you ate yesterday. In other words, we have no judgment and no generalizations. Every single person who walks through our door is totally unique and different, so each person’s food choices should be unique and different too.
          <br /><br />
          We have a saying at BoPo: “Stay on your own plate”. It’s no one’s business but your own. Do you ever feel like you need to go on a diet when someone tells you that they are on a diet? Or picture this: You and a friend go out to lunch, eat the same exact meal and same exact amount. You are feeling great and satisfied until they say, “Ugh, I feel so full….I had no business eating all that!” Does that burst your bubble? Sure it does. Because that is body shaming. And it’s contagious. 
          <br /><br />
          At Body Positive Works, we seek to listen with curiosity, not judgment. Your symptoms, whether physical and/or behavioral, are simply messengers for underlying imbalances. Equally important, we will also help you identify and address the mind and heart issues behind your relationship with food in order to help you recover from emotional eating, overeating, binging, and/or food restricting.
          <br /><br />
          <br /><br />
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="section section-tabs cd-section" id="OurNutritionClassesTreatments">
  <div class="container">
  <div class="row text-center">
    <br />
    <div class="col-md-10 ml-auto mr-auto">
      <h2>Our Nutrition Treatments</h2> <br /><br />
      <h4>
        We offer individual private nutrition consultations. In these sessions our dietitian   
        develops a customized program based on the individual needs of the client. 
        <br /><br />
        The initial consultation lasts 75 minutes. In this session we review the individual’s relationship to food, weight, and body image. We talk about previous diets, current daily schedules, and any ongoing challenges. From here we develop a hierarchy of fear/guilt/averse foods and set intentions for the individual to implement between sessions. 
        <br /><br />
        Follow up sessions last 30 or 45 minutes. Here we review the individual’s food intake between sessions, discuss the experience of changing what is perhaps deep seated behaviour and attitudes, and set a program for the next time period.
        <br /><br />
       <b> To book an appointment call <a href="tel:201-708-8448.">201-708-8448.</a></b>
        
      
        <br /><br /> <br />
      </h4>
    

    </div></div>
  </div>
</div>
<div class="section section-white cd-section" id="OurNutritionforSpecificGroups">
  <div class="row text-center">
    <div class="col-md-10 ml-auto mr-auto">

        <div class="col-md-10 ml-auto mr-auto"> 
      <h2>Our Nutrition Treatments for Specific Groups
        </h2> <br />
      <h4>


          
        Our dietitian can help everyone – from kids and teens to the middle aged and the elderly.
          <br /><br />
          Some of the ways we can help:

          <br /> <br /> 
          <span class="col-md-4 ml-auto mr-auto">
            Nutrition for kids<br /> 
            Nutrition for tweens<br /> 
            Nutrition for teens<br /> 
            Nutrition for prenatal and postnatal women<br /> 
            Nutrition for menopause<br /> 
            Nutrition for negative body image<br /> 
            Nutrition for addiction<br /> 
            Nutrition for eating disorders<br /> 
            Nutrition for depression<br /> 
            Nutrition for anxiety<br /> 
            How to stop emotional eating<br /> 
            How to stop overeating<br /> 
            How to stop binge eating
            
              
          </span>  
        <br />

        <br /><br />
      </h4>  </div> 
    </div>
  </div>
</div>
<div class="section section-tabs cd-section" id="OurNutritionPractitioners">
  <div class="row text-center">
    <div class="col-sm-10 col-md-7 ml-auto mr-auto">
      <h2>Our Dietitian</h2> <br /><br />
    </div>
  </div>
  <div class="row equal">
    <div class="col-md-10 ml-auto mr-auto">
      <div class=" col-md-9 ml-auto mr-auto">
        <div id="carouselteacher11" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row equal">
                <div class="col align-self-center">  
                  <div class="card card-profile">
                    <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#JenKraft">
                      <div class="card-header card-header-image">
                        <picture>
                          <source srcset="/assets/images/Teacher-Liz.webp" type="image/webp">
                          <source srcset="/assets/images/Teacher-Liz.jpg" type="image/jpg">
                          <img src="/assets/images/Teacher-Liz.jpg" alt="Jen Kraft" class="img">
                        </picture>
                        <div class="card-title"> Liz Carrara, MS, RDN, CEDRD</div>
                        <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-Liz.webp'); opacity: 1;"></div>
                      </div><br />
                      <div class="card-body ">
                        <h5 class="card-category text-dark">EATING DISORDER SPECIALIST AND REGISTERED DIETICIAN</h5>
                        <p class="card-description"> 

                          Liz Carrara is an eating disorder specialist and registered dietician offering nutrition and wellness counseling to adolescents and adults. 
                          <br /><br />
                          To help her clients improve their relationship with food, Liz counsels with an anti-diet approach incorporating the principles of Intuitive Eating. Body image concerns are addressed with a “Health at Every Size” philosophy, underscoring the primary importance of the individual’s relationship with food...
                        </p>
                        <b class="text-dark">Click for more</b>
                      </div>
                    </a>
                   
                    <div class="modal fade" id="JenKraft" tabindex="-1" role="dialog" aria-labelledby="JenKraft" aria-hidden="true">
                      <div class="modal-dialog modal-lg " role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-rose" id=""><b>Liz Carrara, MS, RDN, CEDRD</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">


                            Liz Carrara is an eating disorder specialist and registered dietician offering nutrition and wellness counseling to adolescents and adults. 
<br /><br />
                            To help her clients improve their relationship with food, Liz counsels with an anti-diet approach incorporating the principles of Intuitive Eating. Body image concerns are addressed with a “Health at Every Size” philosophy, underscoring the primary importance of the individual’s relationship with food, rather than their body weight. 
                            <br /><br />
                            Liz graduated from the University of Vermont with a Master’s degree in dietetics and completed her dietetic internship through UVM in Burlington, Vermont. She is a member of the International Association of Eating Disorder Professionals and the Academy of Nutrition and Dietetics.
                                                 
                            </div>
                          <div class="modal-footer">
                            <a routerLink="/About-Us/Contact-Us" routerLinkActive="active" onclick="javascript:$('#JenKraft').modal('hide');" class="btn btn-rose">Get in Touch</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
          
          </div>
        </div>
      </div>
      <!-- <a class="carousel-control-prev"  role="button" data-slide="prev" onclick="$('#carouselteacher11').carousel('prev')">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next"  role="button" data-slide="next" onclick="$('#carouselteacher11').carousel('next')">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>
  </div>
</div>
<div class="section section-white">
  <div class="container cd-section" id="OurLocationNutrition">
    <div class="row text-center">
      <div class="col-md-6 ml-auto mr-auto">
        <h2>Our Location</h2> <br />
        <h4> 
          
           
Our home is a beautiful heritage house at the heart of Saddle River, Bergen County NJ. We are directly across the street from Wandell Elementary School, and next door to the Municipal Building. 
<br /><br />
We are centrally located with convenient access to Rt. 17 and the Garden State Parkway, and on the border of Rockland County. Check out how close you are to us on the map or use our drive time calculator from all localities – Saddle Brook, Montebello, Pearl River, North Vale... A nutritionist this good is well worth a short drive. Promise!

          
          <br /><br /><br />
          <button onclick="javascript:$('.modal ').insertAfter($('body'));" class="btn btn-info" type="button" data-toggle="modal" data-target="#LocationModalLabel">Drive time calculator<div class="ripple-container"></div></button>
          <div class="modal fade" id="LocationModalLabel" tabindex="-1" role="dialog" aria-labelledby="LocationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title " id="LocationModalLabel">Drive time calculator</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <a target="_blank" href="https://www.google.com/maps?ll=41.031181,-74.097269&z=16&t=m&hl=en-US&gl=GB&mapclient=embed&daddr=96+E+Allendale+Rd+Saddle+River,+NJ+07458+USA@41.031181,-74.0972695" class="btn btn-info d-flex justify-content-center">Get
                    directions to us&nbsp;&nbsp;<fa-icon [icon]="faMapMarkerAlt"></fa-icon></a><br />
                  <table class="table  table-striped">
                    <thead>
                      <tr>
                        <th>Location</th>
                        <th>Drive</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Saddle River</td>
                        <td>0 min</td>
                      </tr>
                      <tr>
                        <td>Allendale</td>
                        <td>7 min</td>
                      </tr>
                      <tr>
                        <td>Bergen</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Chestnut Ridge</td>
                        <td>5 min</td>
                      </tr>
                      <tr>
                        <td>Fair Lawn</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Franklin Lakes</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Glen Rock</td>
                        <td>16 min</td>
                      </tr>
                      <tr>
                        <td>Hawthorn</td>
                        <td>19 min</td>
                      </tr>
                      <tr>
                        <td>Hillsdale</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Hohokus</td>
                        <td>8 min</td>
                      </tr>
                      <tr>
                        <td>Mahwah</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Midland Park</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Monsey</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Montebello</td>
                        <td>18 min</td>
                      </tr>
                      <tr>
                        <td>Montvale</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Nanuet</td>
                        <td>16 min</td>
                      </tr>
                      <tr>
                        <td>Northvale</td>
                        <td>22 min</td>
                      </tr>
                      <tr>
                        <td>Norwood</td>
                        <td>20 min</td>
                      </tr>
                      <tr>
                        <td>Paramus</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Park Ridge</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Pear River</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Pearl River</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Ramsey</td>
                        <td>7 min</td>
                      </tr>
                      <tr>
                        <td>Ridgewood</td>
                        <td>11 min</td>
                      </tr>
                      <tr>
                        <td>Saddle Brook</td>
                        <td>19 min</td>
                      </tr>
                      <tr>
                        <td>Spring Vallet</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Suffern</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Upper Saddle River</td>
                        <td>4 min</td>
                      </tr>
                      <tr>
                        <td>Waldwick</td>
                        <td>6 min</td>
                      </tr>
                      <tr>
                        <td>Washington Township</td>
                        <td>10 min</td>
                      </tr>
                      <tr>
                        <td>Westwood</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Woodlcliff Lake</td>
                        <td>4 min</td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <br /><br /> <br /><br />
        </h4>
      </div>
      <div class="col-md-6 ml-auto mr-auto"> <br /><br />
        <div class="embed-responsive embed-responsive-4by3">
          <div id="map_canvas" class="embed-responsive-item">
            <iframe defer  title="Our Location"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.729161579471!2d-74.09945818458526!3d41.03118097929852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e43ef4935539%3A0x5592b2beaa803c74!2s96+E+Allendale+Rd%2C+Saddle+River%2C+NJ+07458%2C+USA!5e0!3m2!1sen!2suk!4v1550608932940"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
