<div id="vertical-nav">
    <ul>
      <li>
        <a href="#WhatIsBodyTherapy" data-number="1" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">What is Body Therapy</span>
        </a>
      </li>
      <li>
        <a href="#BenefitsofBodyTherapy" data-number="2" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Benefits of Body Therapy</span>
        </a>
      </li>
      <li>
        <a href="#WhyChooseUs" data-number="3" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Why Choose Us?</span>
        </a>
      </li>
      <li>
        <a href="#OurBodyTherapyClassesTreatments" data-number="4" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Our Body Therapy Treatments</span>
        </a>
      </li>
      <li>
        <a href="#OurBodyTherapyforSpecificGroups" data-number="5" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Our Body Therapy Treatments for Specific Groups</span>
        </a>
      </li>
      <li>
        <a href="#OurBodyTherapyPractitioners" data-number="6" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Our Body Therapy Practitioner</span>
        </a>
      </li>
      <li>
        <a href="#OurLocationBodyTherapy" data-number="7" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Our Location</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto"> <br /><br />
        <h1 class="h2fix">Holistic Body Therapy <br />Bergen County NJ
          </h1>
        <h2 class="h4fix">
            Integrative body therapy for Saddle River, Bergen County & Rockland. We offer SourcePoint Therapy® with the amazing Jody (Domerstad) Boisits. Locating and releasing energy blockages for optimum health.
            <br /> <br />
            Specializing in anxiety, depression, negative body image, eating disorders, alcohol & drug addiction. Safe & joyful community.
        </h2>
         <br />  <hr> 
      </div>
    </div>
    <div class="container cd-section" id="WhatIsBodyTherapy">
      <div class="row text-center">
        <div class="col-md-10 ml-auto mr-auto">
          <h2>What is Body Therapy?</h2> <br />
          <h4> 
              In our Body Therapy sessions, we use a technique called SourcePoint Therapy®. The starting point of SourcePoint is that pain can only be healed from the inside out. 
              <br /><br />Like a human MRI machine, the practitioner “reads” bodies and makes all kinds of (sometimes surprising) connections between bones, muscles, tissues and organs. 
              <br /><br />The body is looked at as a whole… not broken up into parts as is the more conventional way of seeing things. For example, if you have a knee issue a doctor may say you need surgery, whereas the SourcePoint practitioner may find that the source of the knee issue is located elsewhere in the body. Similarly, bunions could be an example of something going on in the kidney. 
              <br /><br />The idea is to locate energetic blockages that obstruct the so-called “Blueprint of Health” – the information of natural order, balance, harmony, and flow inherent in the body and in the universal energy of Source.
              <br /><br />This is a simple, non-invasive energetic approach to healing; you will remain fully clothed throughout.
              
              
              <br /><br />
          </h4>    <hr> 
        </div>
      </div>
    </div>
    <div class="container cd-section" id="BenefitsofBodyTherapy">
      
      <div class="row text-center">
        <div class="col-md-10 ml-auto mr-auto">
          <h2>Benefits of BodyTherapy</h2> <br />
          <h4> 
       
              The benefits of Body Therapy are many – it works on the body to address aches and pains, health issues, feelings of imbalance or psychological concerns. There is an improved experience of the mind/body connection, the relief of tension, anxiety and stress, better sleep, better circulation, pain relief, increased mobility and a better quality of life.
              <br /><br />
              One of the major benefits of SourcePoint Therapy® is that it’s very empowering – through it you see that, far from being a “black box”, you do have a lot of control over the things that go on in the body.  
              
            <br /><br />
          
          </h4>      <hr> 
        </div>
      </div>
    </div>
    <div class="container cd-section" id="WhyChooseUs">
     
      <div class="row text-center">
        <div class="col-md-10 ml-auto mr-auto">
          <h2>Why Choose Us?</h2> <br />
          <h4>
              Our approach to body therapy is holistic – we offer integrative body therapies that work on the mind/body connection so as to achieve a sense of equilibrium, no matter what physical and mental challenges are at play.
              <br /><br />
              Our SourcePoint Therapist® is the amazing Jody (Domerstad) Boisits – she brings her rich life experience, body wisdom, and a myriad of tools to every health issue.
              
            <br /><br /><br /><br />
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-tabs cd-section" id="OurBodyTherapyClassesTreatments">
    <div class="container">
    <div class="row text-center">
      <br />
      <div class="col-md-10 ml-auto mr-auto">
        <h2>Our Body Therapy Treatments</h2> <br /><br />
        <h4>
            Our body therapy treatments last 90 minutes.
              <br /><br />
         <b> To book an appointment call <a href="tel:201-708-8448.">201-708-8448.</a></b>
          
        
          <br /><br /> <br />
        </h4>
      
  
      </div></div>
    </div>
  </div>
  <div class="section section-white cd-section" id="OurBodyTherapyforSpecificGroups">
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
  
          <div class="col-md-10 ml-auto mr-auto"> 
        <h2>Our Body Therapy Treatments for Specific Groups
          </h2> <br />
        <h4>
  
  
            
            With so many treatment options available there is a type of body therapy for everyone.
            <br /><br />
            Some of the ways we can help:
  
            <br /> <br /> 
            <span class="col-md-4 ml-auto mr-auto">
                Body Therapy for negative body image <br /> 
                Body Therapy for addiction <br /> 
                Body Therapy for eating disorders <br /> 
                Body Therapy for depression <br /> 
                Body Therapy for anxiety
                
                
                
            </span>  
          <br />
  
          <br /><br />
        </h4>  </div> 
      </div>
    </div>
  </div>
  <div class="section section-tabs cd-section" id="OurBodyTherapyPractitioners">
    <div class="row text-center">
      <div class="col-sm-10 col-md-7 ml-auto mr-auto">
        <h2>Our Body Therapy Practitioner</h2> <br /><br />
      </div>
    </div>
    <div class="row equal">
      <div class="col-md-10 ml-auto mr-auto">
        <div class=" col-md-9 ml-auto mr-auto">
          <div id="carouselteacher11" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row equal">
                  <div class="col align-self-center">  
                    <div class="card card-profile">
                      <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#JenKraft">
                        <div class="card-header card-header-image">
                          <picture>
                            <source srcset="/assets/images/Teacher-Jody.webp" type="image/webp">
                            <source srcset="/assets/images/Teacher-Jody.jpg" type="image/jpg">
                            <img src="/assets/images/Teacher-Jody.jpg" alt="Jody" class="img">
                          </picture>
                          <div class="card-title"> Jody (Domerstad) Boisits</div>
                          <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-Jody.webp'); opacity: 1;"></div>
                        </div><br />
                        <div class="card-body ">
                          <h5 class="card-category text-dark">SOURCEPOINT THERAPY®, NEUROSCULPTING®</h5>
                          <p class="card-description"> 
  
                              Jody (Domerstad) Boisits is a seasoned educator in body, mind, philosophy, and healthful living.  She feels strongly, as an echo of her own healing journey, that no one should suffer.
                              <br /><br />
                              Jody’s experience with some of this life’s more serious threats including addiction, PTSD, a brain tumor, and infectious disease has necessarily deepened her understanding of how a comprehensive yoga practice - including philosophy, asana, breathing & meditation...           

                           
                        </p>
                          <b class="text-dark">Click for more</b>
                        </div>
                      </a>
                     
                      <div class="modal fade" id="JenKraft" tabindex="-1" role="dialog" aria-labelledby="JenKraft" aria-hidden="true">
                        <div class="modal-dialog modal-lg " role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title text-rose" id=""><b>Jody (Domerstad) Boisits</b></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                Jody (Domerstad) Boisits is a seasoned educator in body, mind, philosophy, and healthful living.  She feels strongly, as an echo of her own healing journey, that no one should suffer.
                                <br /><br />
                                Jody’s experience with some of this life’s more serious threats including addiction, PTSD, a brain tumor, and infectious disease has necessarily deepened her understanding of how a comprehensive yoga practice - including philosophy, asana, breathing & meditation - can help to understand and overcome those challenges.
                                <br /><br />
                                The positive and lasting effects of yoga were so life changing for her that she has dedicated her life to sharing what she’s learned so others can benefit.
                                <br /><br />
                                With a masterful knowledge of alignment, a keen eye for detail, and laser precision with how to deliver cues to take students to a peak asana practice, Jody’s asana students and fellow teachers alike have deemed her “the teacher of teachers.”
                                <br /><br />
                                Since undergoing brain surgery Jody’s studies have shifted to yin yoga with founder Paul Grilley - 200hr TT - and continuing study with Sarah Powers - Yin Level I, II & more.  Additionally, she has completed multiple restorative yoga trainings with Judith Lassater and Jillian Pranksy. 
                                <br /><br />
                                Earlier studies include: 500 ERYT and multiple 200 hour trainings in Vinyasa, Alignment based – Hatha and The Barkan Method.
                                <br /><br />
                                Tertiary wellness trainings include: Inner Light Method, Neurosculpting® Facilitator, SourcePoint Therapy®, Reiki Master & Spiritual Response Therapy practitioner.
                                <br /><br />
                                Jody’s yoga path includes a 500 ERYT, studying with the best of the best teachers in an impressive array of specialty yoga, over a decade of study of alignment-based hatha, and so much more (including Inner Light Method, Neurosculpting®, SourcePoint Therapy®).
                                            
                              </div>
                            <div class="modal-footer">
                              <a routerLink="/About-Us/Contact-Us" routerLinkActive="active" onclick="javascript:$('#JenKraft').modal('hide');" class="btn btn-rose">Get in Touch</a>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
                </div>
              </div>
            
            </div>
          </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselTestIndicatorss" role="button" data-slide="prev" onclick="$('#carouselteacher11').carousel('prev')">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselTestIndicatorss" role="button" data-slide="next" onclick="$('#carouselteacher11').carousel('next')">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
    </div>
  </div>
  <div class="section section-white">
    <div class="container cd-section" id="OurLocationBodyTherapy">
      <div class="row text-center">
        <div class="col-md-6 ml-auto mr-auto">
          <h2>Our Location</h2> <br />
          <h4> 
              Our home is a beautiful heritage house at the heart of Saddle River, Bergen County NJ. We are directly across the street from Wandell Elementary School, and next door to the Municipal Building. 
              <br /><br />
              We are centrally located with convenient access to Rt. 17 and the Garden State Parkway, and on the border of Rockland County. Check out how close you are to us on the map or use our drive time calculator from all localities – Fair Lawn, Glen Rock, Hawthorne, Hillsdale, Hohokus, Mahwah, Waldwick... Body therapy this good is well worth a short drive. Promise!
              
            
            <br /><br /><br />
            <button onclick="javascript:$('.modal ').insertAfter($('body'));" class="btn btn-info" type="button" data-toggle="modal" data-target="#LocationModalLabel">Drive time calculator<div class="ripple-container"></div></button>
            <div class="modal fade" id="LocationModalLabel" tabindex="-1" role="dialog" aria-labelledby="LocationModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title " id="LocationModalLabel">Drive time calculator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <a target="_blank" href="https://www.google.com/maps?ll=41.031181,-74.097269&z=16&t=m&hl=en-US&gl=GB&mapclient=embed&daddr=96+E+Allendale+Rd+Saddle+River,+NJ+07458+USA@41.031181,-74.0972695" class="btn btn-info d-flex justify-content-center">Get
                      directions to us&nbsp;&nbsp;<fa-icon [icon]="faMapMarkerAlt"></fa-icon></a><br />
                    <table class="table  table-striped">
                      <thead>
                        <tr>
                          <th>Location</th>
                          <th>Drive</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Saddle River</td>
                          <td>0 min</td>
                        </tr>
                        <tr>
                          <td>Allendale</td>
                          <td>7 min</td>
                        </tr>
                        <tr>
                          <td>Bergen</td>
                          <td>14 min</td>
                        </tr>
                        <tr>
                          <td>Chestnut Ridge</td>
                          <td>5 min</td>
                        </tr>
                        <tr>
                          <td>Fair Lawn</td>
                          <td>17 min</td>
                        </tr>
                        <tr>
                          <td>Franklin Lakes</td>
                          <td>17 min</td>
                        </tr>
                        <tr>
                          <td>Glen Rock</td>
                          <td>16 min</td>
                        </tr>
                        <tr>
                          <td>Hawthorn</td>
                          <td>19 min</td>
                        </tr>
                        <tr>
                          <td>Hillsdale</td>
                          <td>9 min</td>
                        </tr>
                        <tr>
                          <td>Hohokus</td>
                          <td>8 min</td>
                        </tr>
                        <tr>
                          <td>Mahwah</td>
                          <td>9 min</td>
                        </tr>
                        <tr>
                          <td>Midland Park</td>
                          <td>12 min</td>
                        </tr>
                        <tr>
                          <td>Monsey</td>
                          <td>14 min</td>
                        </tr>
                        <tr>
                          <td>Montebello</td>
                          <td>18 min</td>
                        </tr>
                        <tr>
                          <td>Montvale</td>
                          <td>13 min</td>
                        </tr>
                        <tr>
                          <td>Nanuet</td>
                          <td>16 min</td>
                        </tr>
                        <tr>
                          <td>Northvale</td>
                          <td>22 min</td>
                        </tr>
                        <tr>
                          <td>Norwood</td>
                          <td>20 min</td>
                        </tr>
                        <tr>
                          <td>Paramus</td>
                          <td>14 min</td>
                        </tr>
                        <tr>
                          <td>Park Ridge</td>
                          <td>9 min</td>
                        </tr>
                        <tr>
                          <td>Pear River</td>
                          <td>13 min</td>
                        </tr>
                        <tr>
                          <td>Pearl River</td>
                          <td>13 min</td>
                        </tr>
                        <tr>
                          <td>Ramsey</td>
                          <td>7 min</td>
                        </tr>
                        <tr>
                          <td>Ridgewood</td>
                          <td>11 min</td>
                        </tr>
                        <tr>
                          <td>Saddle Brook</td>
                          <td>19 min</td>
                        </tr>
                        <tr>
                          <td>Spring Vallet</td>
                          <td>17 min</td>
                        </tr>
                        <tr>
                          <td>Suffern</td>
                          <td>12 min</td>
                        </tr>
                        <tr>
                          <td>Upper Saddle River</td>
                          <td>4 min</td>
                        </tr>
                        <tr>
                          <td>Waldwick</td>
                          <td>6 min</td>
                        </tr>
                        <tr>
                          <td>Washington Township</td>
                          <td>10 min</td>
                        </tr>
                        <tr>
                          <td>Westwood</td>
                          <td>12 min</td>
                        </tr>
                        <tr>
                          <td>Woodlcliff Lake</td>
                          <td>4 min</td>
                        </tr>
                      </tbody>
                    </table>
                    <br />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <br /><br /> <br /><br />
          </h4>
        </div>
        <div class="col-md-6 ml-auto mr-auto"> <br /><br />
          <div class="embed-responsive embed-responsive-4by3">
            <div id="map_canvas" class="embed-responsive-item">
              <iframe defer  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.729161579471!2d-74.09945818458526!3d41.03118097929852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e43ef4935539%3A0x5592b2beaa803c74!2s96+E+Allendale+Rd%2C+Saddle+River%2C+NJ+07458%2C+USA!5e0!3m2!1sen!2suk!4v1550608932940"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  