<p>
    Header 1 
 
    The Bergen County Holistic Health & Wellness Center on a Body Positive Mission 
     
    Our Mission
     
    Body Positive Works began with a simple idea: to create a one stop shop offering body positive programs and services to find, connect with, and accept, your true self. 
     
    We call ourselves “The Feel Good Place”. We want you to feel good inside and out, and to explore, grow, and feel empowered in our safe and joyful community!
     
    We specialize in treating eating disorders, depression, anxiety, negative body image and substance addiction. 
     
    We are body positive warriors, empowering your path to loving yourself. We are an army of experts – chiropractors, nutritionists, psychotherapists, yoga teachers, Pilates instructors, anxiety therapists, art therapists, addiction therapists, massage therapists, reiki masters, meditation teachers and ayurveda practitioners. 
     
    We give judgment the finger (while eating cake). 
     
    The BoPo Works philosophy is grounded in these sacred beliefs:
     
    Every body is beautiful
     
    We live in a toxic culture where it’s seemingly unacceptable to like our bodies. At BoPo Works, we are changing that. In our space, you’ll never hear sentences like, “I feel gross,” “I ate too much,” “I need to lose weight”, “I’m not good enough,” “I am a failure.” 
     
    Perfection is imperfection
     
    We are ENOUGH. Right now, exactly as we are – not when we lose weight or get plastic surgery. Here, there is no competition. No goal to achieve. And absolutely no body shaming allowed!
     
    Thoughts become reality
     
    We spend too much time being unkind to ourselves, and our negative thoughts have tremendous power – manifesting themselves in reality. BoPo Works services and programs are like a “makeover” for the mind, helping you transform the way you think about your body. And your self.
     
    Positivity is contagious
     
    Nurture love, kindness, and body positivity – and pass it on. We live by the Yoga Sutra 2.33: “When disturbed by negative thoughts, opposite (positive) ones should be thought of. This is pratipaksha bhavana.”
     
    All are welcome
     
    BoPo Works is truly for every body. We tailor our services to the needs of each individual, and invite people of all ages, cultures, sexes, and gender identities to join us in honoring the inner qualities that make each and every one of us unique.
     
    NO body shaming, food shaming, or exercise shaming allowed. In fact, no shaming, period!
     
    Walk through the door of Body Positive Works and learn to celebrate your true self. 
    
</p>
