

<div class="container">
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto"> <br /><br />
        <h1 class="h2fix">The Bergen County <br />Holistic Health & Wellness Center<br /> on a Body Positive Mission 
          </h1><br />  
          
        <h2 class="h4fix"> 
          Our Mission
            <br />  <br />  
            Body Positive Works began with a simple idea: to create a one stop shop offering body positive programs and services to find, connect with, and accept, your true self. 
            <br />    <br />  
            We call ourselves “The Feel Good Place”. We want you to feel good inside and out, and to explore, grow, and feel empowered in our safe and joyful community!
            <br />    <br />  
            We specialize in treating eating disorders, depression, anxiety, negative body image and substance addiction. 
            <br />    <br />  
        
            We are body positive warriors, empowering your path to loving yourself. We are an army of experts – chiropractor, dietitian, psychotherapists, yoga teachers, pilates instructor, anxiety therapists, art therapist, addiction therapists, massage therapist, reiki master, body therapist, meditation teachers and ayurveda practitioner.
            <br />    <br />  
            We give judgment the finger (while eating cake). 
            <br />  <br />
            <picture>
                    <source srcset="/assets/images/ourmission.webp" type="image/webp">
                    <source srcset="/assets/images/ourmission.jpg" type="image/jpg">
                    <img src="/assets/images/ourmission.jpg" alt="You are enough" class="img img-fluid">
                  </picture>
            <br />  <br /><hr/>  <br />  

          

   
       
        </h2>





       
     
      </div>   
      <div class="col-lg-10 col-md-12  ml-auto mr-auto">
         
           <h1 class="h2fix">The BoPoWorks philosophy is grounded in these sacred beliefs:
                </h1><br />     <br />   
            <div class="row">
              <div class="col-md-4 ">
                <ul class="nav nav-pills nav-pills-icons flex-column nav-pills-rose border-right" >
                  <li class="nav-item">
                    <a class="nav-link active show btn-rose" href="#tab1" data-toggle="tab">Every body is beautiful</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tab2" data-toggle="tab">Perfection is imperfection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tab3" data-toggle="tab">Thoughts become reality</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tab4" data-toggle="tab">Positivity is contagious</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tab5" data-toggle="tab">All are welcome</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-8  px-5">
                <div class="tab-content">
                  <div class="tab-pane active show " id="tab1">
                 
                    We live in a toxic culture where it’s seemingly unacceptable to like our bodies. 
                    <br /><br />
                    At BoPoWorks, we are changing that. In our space, you’ll never hear sentences like, “I feel gross,” “I ate too much,” “I need to lose weight”, “I’m not good enough,” “I am a failure.” 
                  </div>
                  <div class="tab-pane" id="tab2">
                    We are ENOUGH. Right now, exactly as we are – not when we lose weight or get plastic surgery. 
                    <br /><br />
                    Here, there is no competition. No goal to achieve. And absolutely no body shaming allowed!
      
                  </div>
                  <div class="tab-pane" id="tab3">
                    We spend too much time being unkind to ourselves, and our negative thoughts have tremendous power – manifesting themselves in reality. 
                    <br /><br />
                    BoPoWorks services and programs are like a “makeover” for the mind, helping you transform the way you think about your body. And your self.
                </div>

                  <div class="tab-pane" id="tab4">
                    Nurture love, kindness, and body positivity – and pass it on. 
                    <br /><br />
                    We live by the Yoga Sutra 2.33: “When disturbed by negative thoughts, opposite (positive) ones should be thought of. This is pratipaksha bhavana.”
      
                  </div>
                  <div class="tab-pane" id="tab5">
                    BoPoWorks is truly for every body. We tailor our services to the needs of each individual, and invite people of all ages, cultures, sexes, and gender identities to join us in honoring the inner qualities that make each and every one of us unique.
                    <br />  <br />  
                    NO body shaming, food shaming, or exercise shaming allowed. In fact, no shaming, period!
                    <br />   <br />  
                    Walk through the door of Body Positive Works and learn to celebrate your true self. 
                  </div>
            

                </div>
              </div>
            </div>      <br /><br /> <br /><br /><br /><br />
          </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12 col-xs-10 ">
          <div id="carouselTestIndicatorss" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active px-5">
                <div class="card card-testimonial card-plain">
                
                  <div class="card-header card-header-image textmonial">
                      <picture>
                        <source srcset="/assets/images/Community1.webp" type="image/webp">
                        <source srcset="/assets/images/Community1.jpg" type="image/jpg">
                        <img src="/assets/images/Community1.jpg" alt="Yoga Studio" class="img">
                      </picture>
                      <div class="colored-shadow" style="background-image: url('/assets/images/Community1.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                    </div><br />
                </div>
              </div>
              <div class="carousel-item px-5">
                  <div class="card card-testimonial card-plain">
                  
                    <div class="card-header card-header-image OurSpace">
                        <picture>
                          <source srcset="/assets/images/Community2.webp" type="image/webp">
                          <source srcset="/assets/images/Community2.jpg" type="image/jpg">
                          <img src="/assets/images/Community2.jpg" alt="Yoga Studio" class="img">
                        </picture>
                        <div class="colored-shadow" style="background-image: url('/assets/images/Community2.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                      </div><br />
                  </div>
                </div>
                <div class="carousel-item px-5">
                    <div class="card card-testimonial card-plain">
                    
                      <div class="card-header card-header-image OurSpace">
                          <picture>
                            <source srcset="/assets/images/Community3.webp" type="image/webp">
                            <source srcset="/assets/images/Community3.jpg" type="image/jpg">
                            <img src="/assets/images/Community3.jpg" alt="Yoga Studio" class="img">
                          </picture>
                          <div class="colored-shadow" style="background-image: url('/assets/images/Community3.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                        </div><br />
                    </div>
                  </div>
                  <div class="carousel-item px-5">
                    <div class="card card-testimonial card-plain">
                    
                      <div class="card-header card-header-image OurSpace">
                          <picture>
                            <source srcset="/assets/images/Community4.webp" type="image/webp">
                            <source srcset="/assets/images/Community4.jpg" type="image/jpg">
                            <img src="/assets/images/Community4.jpg" alt="Yoga Studio" class="img">
                          </picture>
                          <div class="colored-shadow" style="background-image: url('/assets/images/Community4.webp'); opacity: 1;  top: 20px;-webkit-transform: scale(0.97);transform: scale(0.97);"></div>
                        </div><br />
                    </div>
                  </div>
              <a class="carousel-control-prev"  role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next"  role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div> -->
  </div>



