<div class="container">
  <div class="row text-center">
    <div class="col-md-8 ml-auto mr-auto"> <br /><br />
      <h1 class="h2fix">Pricing</h1>

      <hr>
          </div>

          <div class="col-md-7 ml-auto mr-auto">

            <br /><br />
            For services not listed here, please contact BoPoWorks directly for pricing
            <br /><br /> <br />
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
            <b>CLASS BUNDLES</b>
                  </div>
                </div>
                <div class="card-body">        <br />
                  <table class="table table-borderless">

                    <tbody>
                      <tr>
                        <td scope="row">New Student Introductory Special:</td>
                        <td>10 days for $40 (try unlimited classes for 10 days)</td>
                      </tr>
                      <tr>
                        <td scope="row">Single drop in class:</td>
                        <td>$20 (expires after 1 month)</td>
                      </tr>
                      <tr>
                        <td scope="row">Senior drop in class:</td>
                        <td>$15 (expires after 1 month)</td>
                      </tr>
                      <tr>
                        <td scope="row">Pack of 5 classes:</td>
                        <td>$95 (expires after 3 months)</td>
                      </tr>
                      <tr>
                        <td scope="row">Pack of 10 classes</td>
                        <td>$180 (expires after 5 months)</td>
                      </tr>
                      <tr>
                        <td scope="row">Monthly Unlimited classes:</td>
                        <td>See BoPo Bundles Below</td>
                      </tr>



                    </tbody>
                  </table>      </div>    </div> <br /><br />
            </div>


      <br /><br /><br />
    </div>
  </div>
<div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-8 ml-auto mr-auto"> <br /><br />
    <h4>
      BOPO BUNDLES+
    </h4>
    <hr>
  </div>

</div>

<div class="row justify-content-md-center">

  <div class="col-lg-4 col-md-6">
    <div class="card card-pricing card-raised  text-dark  ">
      <div class="card-body">
        <h5 class="card-category text-dark text-center">BoPo Monthly Bundle</h5>
        <h1 class="card-title text-center text-dark">
          <small class="text-dark">$</small>129<h6 class="text-dark text-right card-monthly">Monthly</h6>
        </h1>
        <br />
        <ul>
          <li>Unlimited regular classes</li>
          <li>10% off ONE service monthly</li>
          <li>2 guest passes/month</li>
        </ul>
      </div>
      <div class="card-footer justify-content-center">
        <a routerLink="/About-Us/Contact-Us" routerLinkActive="active" class="btn btn-rose">
          Get in touch
          <div class="ripple-container"></div></a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="card card-pricing card-raised  text-dark  ">
      <div class="card-body">
        <h5 class="card-category text-dark text-center">BoPo Yearly Bundle</h5>
        <h1 class="card-title text-center text-dark">
          <small class="text-dark">$</small>1249 <h6 class="text-dark text-right card-monthly">Annually</h6>
        </h1>
        <br />
        <ul>
          <li>Unlimited regular classes</li>
          <li>10% off TWO services monthly</li>
          <li>2 guest passes/month</li>
          <li>10% off workshops</li>
          <li>10% off at “Gift Boutique”</li>
        </ul>
      </div>
      <div class="card-footer justify-content-center">
        <a routerLink="/About-Us/Contact-Us" routerLinkActive="active" class="btn btn-rose">
          Get in touch
          <div class="ripple-container"></div></a>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-10 ml-auto mr-auto"> <br /><br />

      <sub>
        +3 month minimum on all Bundles | Non-refundable & require credit card on file for automatic billing | 30-day cancellation required after minimum contract is met | doctor’s note required to freeze bundle | service discounts may be applied to Reiki, Chiropractic, Massage, Sound Healing | Teacher Trainings not included in any discounts | Guest passes for new students only.


      </sub>

    </div>

  </div>

</div>

</div>
</div>
<div class="section section-white">
    <div class="container ">
    
    <div class="row text-center">
      <div class="col-md-7 ml-auto mr-auto">
    
    <br /><br />
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
        <b>YOGA PRIVATES</b>
              </div>
            </div>
            <div class="card-body">        <br />
              <table class="table table-borderless">
    
                <tbody>
                  <tr>
                    <td scope="row">One Yoga Private:</td>
                    <td>$100 <sub>Expires after two months</sub></td>
                  </tr>
                  <tr>
                    <td scope="row">Package of 3 Yoga Privates:</td>
                    <td>$285 <sub>Expires after 3 months</sub></td>
                  </tr>
                  <tr>
                    <td scope="row">Package of 6 Yoga Privates:</td>
                    <td>$540 <sub>Expires after 6 months</sub></td>
                  </tr>
                </tbody>
              </table>
              <sub>

    
              </sub>
    
    
            </div>    </div> <br /><br />
        </div>
    
    
    <br /><br /><br />
    
    </div>
    
    </div>
    </div>
<div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">

<br /><br />
    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>REIKI HEALING ROOM*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>
              <tr>
                <td scope="row">30 Minute express session:</td>
                <td>$55</td>
              </tr>
              <tr>
                <td scope="row">One hour session:</td>
                <td>$100</td>
              </tr>
              <tr>
                <td scope="row">Package of 3, 30 minute sessions:</td>
                <td>$140</td>
              </tr>
              <tr>
                <td scope="row">Package of 3, one hour sessions:</td>
                <td>$250</td>
              </tr>
            </tbody>
          </table>
          <sub>
          *All sessions and packages for The Healing Room expire after 6 months

          </sub>


        </div>    </div> <br /><br />
    </div>


<br /><br /><br />

</div>

</div>
</div>
<div class="section section-white">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>DIETITIAN*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>
              <tr>
                <td scope="row">75 Minute initial intake session:</td>
                <td>$175</td>
              </tr>
              <tr>
                <td scope="row">45 Minute follow up:</td>
                <td>$100</td>
              </tr>
              <tr>
                <td scope="row">30 Minute follow up:</td>
                <td>$75</td>
              </tr>

            </tbody>
          </table>
          <sub>
          *All sessions and packages for Dietitian expire after 6 months

          </sub>


        </div>    </div>
    </div>




</div>
</div>
</div>
<div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>MASSAGE*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>
              <tr>
                <td scope="row">60 Minute massage:</td>
                <td>$85</td>
              </tr>
              <tr>
                <td scope="row">90 Minute massage:</td>
                <td>$120</td>
              </tr>
              <tr>
                <td scope="row">30 Minute reflexology foot massage:</td>
                <td>$50</td>
              </tr>
              <tr>
                <td scope="row">60 Minute reflexology foot massage:</td>
                <td>$85</td>
              </tr>
           
            </tbody>
          </table>
          <sub>
*All sessions and packages for Massage expire after 6 months
          </sub>


        </div>    </div>
    </div>




</div>

</div>
</div>
<div class="section section-white">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>AYURVEDA*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>

              <tr>
                <td scope="row">Ayurveda Consultation:</td>
                <td>	$150</td>
              </tr>
            </tbody>
          </table>
          <sub>
            *All sessions for Ayurveda expire after 6 months – please inquire about packages
          </sub>


        </div>    </div>
    </div>




</div>

</div>
</div>
<!-- <div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>CHIROPRACTOR</b>
          </div>
        </div>
        <div class="card-body">        <br />

      <p>
Dr. Vickie has many payment options available and accepts some forms of insurance, health savings plans, flexible spending accounts and Visa/MasterCard.  Please discuss with her to find the option that will work best for you.</p>


        </div>    </div>
    </div>




</div>

</div>
</div>  -->
<div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>STOTT PILATES® /TRX and SOUND HEALING*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>

              <tr>
                <td scope="row">Private Sound Healing – 60 minute:</td>
                <td>$100</td>
              </tr>
              <tr>
                <td scope="row">Stott Pilates® Demo Session*:</td>
                <td>Complimentary  <sub>*new clients only</sub></td>
              </tr>

            </tbody>
          </table>
      <p>Variety of Stott Pilates® packages available to meet your individual needs!<br /><br /> Please call for options and pricing!</p>


        </div>    </div>
    </div>




</div>

</div>




</div>

<div class="section section-white">
  <div class="container ">
  
  <div class="row text-center">
    <div class="col-md-7 ml-auto mr-auto">
  
  
      <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
      <b>SOURCEPOINT THERAPY® </b>
            </div>
          </div>
          <div class="card-body">        <br />
            <table class="table table-borderless">
  
              <tbody>
  
                <tr>
                  <td scope="row">90 Minute session:</td>
                  <td>	$150</td>
                </tr>
              </tbody>
            </table>
       
  
          </div>    </div>
      </div>
  
  
  
  
  </div>
  
  </div>
  </div>

  <div class="section section-tabs">
    <div class="container ">
  
      <div class="row text-center">
        <div class="col-md-7 ml-auto mr-auto">
      
      
          <div class="card">
              <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
          <b>HOMEOPATHY</b>
                </div>
              </div>
              <div class="card-body">        <br />
                <table class="table table-borderless">
      
                  <tbody>
      
                    <tr>
                      <td scope="row">Mehnaz has many packages and payment options available. Please discuss with her to find the option that will work best for you.</td>
                    
                    </tr>
                  </tbody>
                </table>
           
      
              </div>    </div>
          </div>
      
      
      
      
      </div>
      
      </div>
      </div>