<div class="container">
  <div class="row text-center">
    <div class="col-md-8 ml-auto mr-auto"> <br /><br />
      <h1 class="h2fix">Pricing</h1>

      <hr>
          </div>

          <div class="col-md-7 ml-auto mr-auto">

 <br /><br />
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
            <b>CLASSES BUNDLES</b>
                  </div>
                </div>
                <div class="card-body">        <br />
                  <table class="table table-borderless">

                    <tbody>
                      <tr>
                        <td scope="row">New Student Introductory Special:</td>
                        <td>10 days for $40 (try unlimited classes for 10 days)</td>
                      </tr>
                      <tr>
                        <td scope="row">Single drop in class:</td>
                        <td>$20 (expires after 1 month)</td>
                      </tr>
                      <tr>
                        <td scope="row">Senior drop in class:</td>
                        <td>$15 (expires after 1 month)</td>
                      </tr>
                      <tr>
                        <td scope="row">Pack of 5 classes:</td>
                        <td>$95 (expires after 3 months)</td>
                      </tr>
                      <tr>
                        <td scope="row">Pack of 10 classes</td>
                        <td>$180 (expires after 5 months)</td>
                      </tr>
                      <tr>
                        <td scope="row">Monthly Unlimited classes:</td>
                        <td>$140</td>
                      </tr>



                    </tbody>
                  </table>      </div>    </div> <br /><br />
            </div>


      <br /><br /><br />
    </div>
  </div>
<div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-8 ml-auto mr-auto"> <br /><br />
    <h4>
        BPW BUNDLES+
    </h4>
    <hr>
  </div>

</div>

<div class="row">

  <div class="col-lg-3 col-md-6">
    <div class="card card-pricing card-raised  text-dark  ">
      <div class="card-body">
        <h5 class="card-category text-dark text-center">BoPo Monthly Bundle</h5>
        <h1 class="card-title text-center text-dark">
          <small class="text-dark">$</small>129<h6 class="text-dark text-right card-monthly">Monthly</h6>
        </h1>
        <br />
        <ul>
          <li>Unlimited regular classes</li>
          <li>10% off ONE services monthly</li>
          <li>2 guest passes/month</li>
        </ul>
      </div>
      <div class="card-footer justify-content-center">
        <a href="/#/About-Us/Contact-Us" class="btn btn-rose">
          Get in touch
          <div class="ripple-container"></div></a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card card-pricing card-raised  text-dark  ">
      <div class="card-body">
        <h5 class="card-category text-dark text-center">BoPo Deluxe Bundle</h5>
        <h1 class="card-title text-center text-dark">
          <small class="text-dark">$</small>489<h6 class="text-dark text-right card-monthly">Monthly</h6>
        </h1>
        <br />
        <ul>
          <li>6 regular classes monthly</li>
          <li>1 Reiki Session</li>
          <li>1 Nutrition Intake (or 30 minute session + 2 weeks of food logs)</li>
          <li>1 Swedish Massage</li>
          <li>10% off workshops</li>
          <li>10% off at “Gift Boutique”</li>
        </ul>
      </div>
      <div class="card-footer justify-content-center">
        <a href="/#/About-Us/Contact-Us" class="btn btn-rose">
          Get in touch
          <div class="ripple-container"></div></a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card card-pricing card-raised  text-dark  ">
      <div class="card-body">
        <h5 class="card-category text-dark text-center">BoPo Deluxe Plus Bundle</h5>
        <h1 class="card-title text-center text-dark">
          <small class="text-dark">$</small>944<h6 class="text-dark text-right card-monthly">Monthly</h6>
        </h1>
        <br />
        <ul>
          <li>Unlimited regular classes</li>
          <li>1 Reiki Session</li>
          <li>2 one-hour Nutrition Sessions</li>
          <li>Daily Nutrition check-ins</li>
          <li>1 Deluxe Massage</li>
          <li>1 Chiropractic Intake + 2 adjustments (or 3 adjustments)</li>
          <li>1 Private Sound Healing Session</li>
          <li>10% off workshops</li>
          <li>10% off at “Gift Boutique”</li>
        </ul>
      </div>
      <div class="card-footer justify-content-center">
        <a href="/#/About-Us/Contact-Us" class="btn btn-rose">
          Get in touch
          <div class="ripple-container"></div></a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card card-pricing card-raised  text-dark  ">
      <div class="card-body">
        <h5 class="card-category text-dark text-center">BoPo Yearly Bundle</h5>
        <h1 class="card-title text-center text-dark">
          <small class="text-dark">$</small>1249 <h6 class="text-dark text-right card-monthly">Annually</h6>
        </h1>
        <br />
        <ul>
          <li>Unlimited regular classes</li>
          <li>10% off TWO services monthly</li>
          <li>2 guest passes/month</li>
          <li>10% off workshops</li>
          <li>10% off at “Gift Boutique”</li>
        </ul>
      </div>
      <div class="card-footer justify-content-center">
        <a href="/#/About-Us/Contact-Us" class="btn btn-rose">
          Get in touch
          <div class="ripple-container"></div></a>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-10 ml-auto mr-auto"> <br /><br />

      <sub>
        +3 month minimum on all Bundles | Non-refundable & require credit card on file for automatic billing | 30-day cancellation required after minimum contract is met | doctor’s note required to freeze bundle | service discounts may be applied to Reiki, Nutrition, Chiropractic, Massage, Sound Healing | Teacher Trainings not included in any discounts | Guest passes for new students only.


      </sub>

    </div>

  </div>

</div>

</div>
</div>
<div class="section section-white">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">

<br /><br />
    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>REIKI HEALING ROOM*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>
              <tr>
                <td scope="row">30 minute express session:</td>
                <td>$55</td>
              </tr>
              <tr>
                <td scope="row">One hour session:</td>
                <td>$100</td>
              </tr>
              <tr>
                <td scope="row">Package of 3, 30 minute sessions:</td>
                <td>$130</td>
              </tr>
              <tr>
                <td scope="row">Package of 3, one hour sessions:</td>
                <td>$230</td>
              </tr>
            </tbody>
          </table>
          <sub>
          *All sessions and packages for The Healing Room expire after 6 months

          </sub>


        </div>    </div> <br /><br />
    </div>


<br /><br /><br />

</div>

</div>
</div>
<div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>INTEGRATIVE NUTRITION*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>
              <tr>
                <td scope="row">Nutrition Initial Intake Session:</td>
                <td>$125</td>
              </tr>
              <tr>
                <td scope="row">Nutrition One Hour Session:</td>
                <td>$100</td>
              </tr>
              <tr>
                <td scope="row">Daily Food Log Review – one week:</td>
                <td>$50</td>
              </tr>
              <tr>
                <td scope="row">Private Grocery Store Tour:</td>
                <td>$125</td>
              </tr>
              <tr>
                <td scope="row">Private Cooking Class – onsite:</td>
                <td>$100 + cost of ingredients</td>
              </tr>
              <tr>
                <td scope="row">Private Cooking Class – offsite:</td>
                <td>$125 +cost of ingredients</td>
              </tr>
            </tbody>
          </table>
          <sub>
          *All sessions and packages for Integrative Nutrition expire after 6 months

          </sub>


        </div>    </div>
    </div>




</div>
</div>
</div>
<div class="section section-white">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>MASSAGE*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>
              <tr>
                <td scope="row">Swedish Massage – 60 min:</td>
                <td>$85</td>
              </tr>
              <tr>
                <td scope="row">Deep Tissue Massage – 60 min:</td>
                <td>$100</td>
              </tr>
              <tr>
                <td scope="row">Reflexology Foot Massage – 60 min:</td>
                <td>$80</td>
              </tr>
              <tr>
                <td scope="row">Cranio-Sacral Massage – 60 min:</td>
                <td>$90</td>
              </tr>
              <tr>
                <td scope="row">Sports Massage – 60 min:</td>
                <td>$95</td>
              </tr>
              <tr>
                <td scope="row">Pre-Natal Massage – 60 min:</td>
                <td>$100</td>
              </tr>
              <tr>
                <td scope="row">Lymphatic Drainage  – 60 min:</td>
                <td>$95</td>
              </tr>

            </tbody>
          </table>
          <sub>
*All sessions and packages for Massage expire after 6 months
          </sub>


        </div>    </div>
    </div>




</div>

</div>
</div>
<div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>INTEGRATIVE NUTRITION*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>

              <tr>
                <td scope="row">Ayurveda Consultation:</td>
                <td>	$150</td>
              </tr>
            </tbody>
          </table>
          <sub>
            *All sessions for Ayurveda expire after 6 months – please inquire about packages
          </sub>


        </div>    </div>
    </div>




</div>

</div>
</div>
<div class="section section-white">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>CHIROPRACTOR</b>
          </div>
        </div>
        <div class="card-body">        <br />

      <p>
Dr. Vickie has many payment options available and accepts some forms of insurance, health savings plans, flexible spending accounts and Visa/MasterCard.  Please discuss with her to find the option that will work best for you.</p>


        </div>    </div>
    </div>




</div>

</div>
</div>
<div class="section section-tabs">
<div class="container ">

<div class="row text-center">
  <div class="col-md-7 ml-auto mr-auto">


    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
    <b>STOTT PILATES® /TRX and SOUND HEALING*</b>
          </div>
        </div>
        <div class="card-body">        <br />
          <table class="table table-borderless">

            <tbody>

              <tr>
                <td scope="row">Private Sound Healing – 60 min:</td>
                <td>$100</td>
              </tr>
              <tr>
                <td scope="row">Stott Pilates® Demo Session*:</td>
                <td>Complimentary  <sub>*new clients only</sub></td>
              </tr>

            </tbody>
          </table>
      <p>Variety of Stott Pilates® packages available to meet your individual needs!<br /><br /> Please call for options and pricing!</p>


        </div>    </div>
    </div>




</div>

</div>
</div>
