Body Positive Works Community, Bergen County NJ

At BoPo Works we are passionate about creating a sense of community. We are crystal clear that healing, growth and change happen when there is a sense of togetherness – a shared experience. 

That’s why we encourage our community to get to know each other. Meet up before or after class. Come together for a cup of tea in our Lila Lounge. Join our book club. Or, if you’re not feeling wildly social, just find a quiet spot and enjoy being in a space that enables you to be 100% you.  

Think of BoPo Works as your sanctuary… a place to unplug, pause and laugh. 


 

