


<div class="section section-white" id="">
  <div class="row text-center">
    <br /><br />
    <div class="col-sm-10 col-md-8 ml-auto mr-auto">
      <h2>Schedule</h2> <br /><br />
      <!-- Tabs with icons on Card -->
      <div class="card card-nav-tabs">
        <div class="card-header card-header-rose">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active show" href="#Classes" data-toggle="tab">
                  Classes

                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Events" data-toggle="tab">
                  Events
                    <div class="ripple-container"></div></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content text-center">
            <div class="tab-pane active show" id="Classes"> <br /><br />
              <p id="BodyOnline">

              </p>
              <p id="BodyOnlineFooter">

                <iframe id="FileFrame" src="about:blank" height="1000px" width="100%" frameborder="0"></iframe>


              </p>
            </div>
            <div class="tab-pane" id="Events">
              <p>...</p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>











<!--




          <a href="#">Classes</a>

<br />
          <a href="#">Events</a> -->
