<div id="vertical-nav">
  <ul>
    <li>
      <a href="#WhatIsArtTherapy" data-number="1" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">What is Art Therapy</span>
      </a>
    </li>
    <li>
      <a href="#BenefitsofArtTherapy" data-number="2" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Benefits of Art Therapy</span>
      </a>
    </li>
    <li>
      <a href="#WhyChooseUs" data-number="3" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Why Choose Us?</span>
      </a>
    </li>
    <li>
      <a href="#OurArtTherapyClassesTreatments" data-number="4" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Art Therapy Classes/Treatments</span>
      </a>
    </li>
    <li>
      <a href="#OurArtTherapyforSpecificGroups" data-number="5" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Art Therapy for Specific Groups</span>
      </a>
    </li>
    <li>
      <a href="#OurArtTherapyPractitioners" data-number="6" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Art Therapy Practitioners</span>
      </a>
    </li>
    <li>
      <a href="#OurLocationArtTherapy" data-number="7" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Location</span>
      </a>
    </li>
  </ul>
</div>







  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">      <br /><br />
        <h2>Art Therapy</h2>
        <h4>
          SEO words  SEO words  SEO words  SEO words  SEO words  SEO words
        </h4>  <hr>    <br /><br /><br /><br />
      </div>

    </div>
  <div class="container cd-section" id="WhatIsArtTherapy">
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2>What Is Art Therapy</h2> <br /><br />
        <h4>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br /><br />
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <br /><br />

        </h4>
      </div>

    </div>
  </div>

  <div class="container cd-section" id="BenefitsofArtTherapy">
    <br /><br />
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2>Benefits of Art Therapy</h2> <br /><br />
        <h4>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <br /><br />
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br /><br />
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          <br /><br />
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          <br /><br />
        </h4>
      </div>

    </div>
  </div>

  <div class="container cd-section" id="WhyChooseUs">
    <br /><br />
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2>Why Choose Us?</h2> <br /><br />
        <h4>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br /><br />
        </h4>
      </div>

    </div>
  </div>
</div>


<div class="section section-tabs cd-section" id="OurArtTherapyClassesTreatments">
  <div class="row text-center">
    <br /><br />
    <div class="col-sm-10 col-md-8 ml-auto mr-auto">
      <h2>Our Art Therapy Classes/Treatments</h2> <br /><br />
      <!-- Tabs with icons on Card -->
      <div class="card card-nav-tabs">
        <div class="card-header card-header-info">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active show" href="#profile" data-toggle="tab">
                    Classes/Treatments 1

                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#messages" data-toggle="tab">
                    Classes/Treatments 2
                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings" data-toggle="tab">
                    Classes/Treatments 3
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content text-center">
            <div class="tab-pane active show" id="profile"> <br /><br />
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br />
              </p>
            </div>
            <div class="tab-pane" id="messages">
              <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the
                answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
            </div>
            <div class="tab-pane" id="settings">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br> <br>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>


<div class="section section-white cd-section" id="OurArtTherapyforSpecificGroups">
  <div class="row text-center">
    <br /><br />
    <div class="col-sm-10 col-md-8 ml-auto mr-auto">
      <h2>Our Art Therapy for Specific Groups</h2> <br /><br />
      <!-- Tabs with icons on Card -->
      <div class="card card-nav-tabs">
        <div class="card-header card-header-info">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active show" href="#profile1" data-toggle="tab">
                    Specific Group 1

                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#messages1" data-toggle="tab">
                    Specific Group 1
                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings1" data-toggle="tab">
                    Specific Group 1
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content text-center">
            <div class="tab-pane active show" id="profile1"> <br /><br />
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br />
              </p>
            </div>
            <div class="tab-pane" id="messages1">
              <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the
                answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
            </div>
            <div class="tab-pane" id="settings1">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br> <br>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>





<div class="section section-tabs cd-section" id="OurArtTherapyPractitioners">


  <div class="row text-center">
    <br /><br />


    <div class="col-sm-10 col-md-7 ml-auto mr-auto">
      <h2>Our Art Therapy Practitioners</h2> <br /><br />

      <div class="row">
        <div class="col-md-4">

          <div class="card card-profile">
            <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#exampleModal">
              <div class="card-header card-header-image">


                <picture>
                  <source srcset="/assets/images/Teacher-Sheryl.webp" type="image/webp">
                  <source srcset="/assets/images/Teacher-Sheryl.jpg" type="image/jpg">
                  <img src="/assets/images/Teacher-Sheryl" alt="Irene" class="img">
                </picture>


                <div class="card-title">
                  Irene Maltzan Chac
                </div>

                <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-Sheryl.webp'); opacity: 1;"></div>
              </div><br/>
              <div class="card-body ">
                <h6 class="card-category text-dark">Certified Holistic Nutritional Counselor</h6>
                <p class="card-description">
                  Irene is a Nutritional Counselor certified by the Institute of Integrative Nutrition and owner of the Wellness Tree...


                </p>
                <b class="text-dark">Click for more</b>

              </div>
            </a>
            <div class="card-footer justify-content-center">
              <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>

              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-facebook">

                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-instagram">

                <fa-icon [icon]="faInstagram"></fa-icon>

              </a>
            </div>
          </div>

        </div>

        <div class="col-md-4">

          <div class="card card-profile">
            <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#exampleModal">
              <div class="card-header card-header-image">


                <picture>
                  <source srcset="/assets/images/Teacher-Irene.webp" type="image/webp">
                  <source srcset="/assets/images/Teacher-Irene.jpg" type="image/jpg">
                  <img src="/assets/images/Teacher-Irene.png" alt="Irene" class="img">
                </picture>


                <div class="card-title"><br/>
                  Irene Maltzan Chac
                </div>

                <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-Irene.webp'); opacity: 1;"></div>
              </div><br/>
              <div class="card-body ">
                <h6 class="card-category text-dark">Certified Holistic Nutritional Counselor</h6>
                <p class="card-description">
                  Irene is a Nutritional Counselor certified by the Institute of Integrative Nutrition and owner of the Wellness Tree...


                </p>
                <b class="text-dark">Click for more</b>

              </div>
            </a>
            <div class="card-footer justify-content-center">
              <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>

              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-facebook">

                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-instagram">

                <fa-icon [icon]="faInstagram"></fa-icon>

              </a>
            </div>
          </div>

        </div>

        <div class="col-md-4">

          <div class="card card-profile">
            <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#exampleModal">
              <div class="card-header card-header-image">


                <picture>
                  <source srcset="/assets/images/Teacher-wendy.webp" type="image/webp">
                  <source srcset="/assets/images/Teacher-wendy.jpg" type="image/jpg">
                  <img src="/assets/images/Teacher-wendy.png" alt="Irene" class="img">
                </picture>


                <div class="card-title">
                  Irene Maltzan Chac
                </div>

                <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-wendy.webp'); opacity: 1;"></div>
              </div><br/>
              <div class="card-body ">
                <h6 class="card-category text-dark">Certified Holistic Nutritional Counselor</h6>
                <p class="card-description">
                  Irene is a Nutritional Counselor certified by the Institute of Integrative Nutrition and owner of the Wellness Tree...


                </p>
                <b class="text-dark">Click for more</b>

              </div>
            </a>
            <div class="card-footer justify-content-center">
              <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>

              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-facebook">

                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-instagram">

                <fa-icon [icon]="faInstagram"></fa-icon>

              </a>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark" id="exampleModalLabel"><b>Irene Maltzan Chac</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Melanie, co-founder of Body Positive Works, is a psychotherapist whose practice is dedicated to working with adolescents, adults, and families who are dealing with eating disorders, body image, substance addiction, and stage of life
            issues. A Licensed Clinical Social Worker and Licensed Clinical Alcohol and Drug Counselor with 25 years of direct practice experience, she holds the highest New Jersey licensure in both disciplines.
            <br /><br />Over the years, Melanie has worked with clients in a variety of settings: hospital, crisis center, private non-profit agency, and private practice. She has gained a broad perspective and deep understanding of the challenges
            her clients face when seeking specialized services from multiple resources. The Body Positive Works was born of the realization that having a variety of services under one roof – and providing a strong sense of community – would support
            clients in achieving greater overall health, recovery, and long-term growth. <br /><br />
            Melanie holds a Masters of Social Work from Columbia University and a BA in Psychology and Law and Justice from The College of New Jersey.
          </div>
          <div class="modal-footer">
            <a href="/#/Schedule" onclick="javascript:$('#exampleModal').modal('hide');"  class="btn btn-rose" >Book a Class&nbsp;&nbsp;<fa-icon [icon]="faCalendarAlt"></fa-icon></a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

  </div>








</div>

<div class="section section-white">

  <div class="container cd-section" id="OurLocationArtTherapy">
    <div class="row text-center">
      <div class="col-md-6 ml-auto mr-auto">
        <h2>Our Location</h2> <br /><br />
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br /><br />
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <br /><br /> <br /><br /> <br /><br />
        </h4>
      </div>
      <div class="col-md-6 ml-auto mr-auto"> <br /><br />
        <div class="embed-responsive embed-responsive-4by3">
          <div id="map_canvas" class="embed-responsive-item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d19370.154195684165!2d1.3085435840962056!3d52.637047953192834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47d9e3933e9d5253%3A0xc289bd018239882!2sNR1+1HA%2C+Lower+Clarence+Rd%2C+Norwich!3m2!1d52.6243863!2d1.3120802999999999!4m5!1s0x47d9e2337c5ca213%3A0x1bae24bc5b7cfe62!2sNorwich+NR7!3m2!1d52.647083099999996!2d1.3433363999999999!5e0!3m2!1sen!2suk!4v1550088081636"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
