
<div id="cd-vertical-nav">
    <ul>
      <li>
        <a href="#headers" data-number="1" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Headers</span>
        </a>
      </li>
      <li>
        <a href="#features" data-number="2" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Features</span>
        </a>
      </li>
      <li>
        <a href="#blogs" data-number="3" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Blogs</span>
        </a>
      </li>
      <li>
        <a href="#teams" data-number="4" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Teams</span>
        </a>
      </li>
      <li>
        <a href="#projects" data-number="5" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Projects</span>
        </a>
      </li>
      <li>
        <a href="#pricing" data-number="6" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Pricing</span>
        </a>
      </li>
      <li>
        <a href="#testimonials" data-number="7" class="">
          <span class="cd-dot"></span>
          <span class="cd-label">Testimonials</span>
        </a>
      </li>
      <li>
        <a href="#contactus" data-number="8">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact Us</span>
        </a>
      </li>
    </ul>
  </div>





<div class="section section-white">
  <div class="container cd-section" id="headers">
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="bobby">What Is Art Therapy</h2>
        <h4>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br /><br />
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


        </h4>
      </div>

    </div>
  </div>

  <div class="container cd-section" id="headers">
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="bobby">Benefits of Art Therapy</h2>
        <h4>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br /><br />
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


        </h4>
      </div>

    </div>
  </div>

  <div class="container cd-section" id="headers">
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="bobby">What Is Art Therapy</h2>
        <h4>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br /><br />
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


        </h4>
      </div>

    </div>
  </div>
</div>

<div class="section section-tabs">
  <div class="row text-center">

    <div class="col-sm-10 col-md-8 ml-auto mr-auto">
      <h2 class="bobby">Why Choose Us?</h2> <br>
      <!-- Tabs with icons on Card -->
      <div class="card card-nav-tabs">
        <div class="card-header card-header-rose">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active show" href="#profile" data-toggle="tab">
                    Specific Group 1

                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#messages" data-toggle="tab">
                    Specific Group 2
                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings" data-toggle="tab">
                    Specific Group 3
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content text-center">
            <div class="tab-pane active show" id="profile">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>
            </div>
            <div class="tab-pane" id="messages">
              <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the
                answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
            </div>
            <div class="tab-pane" id="settings">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br> <br>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Tabs with icons on Card -->

    </div>
  </div>
</div>



<div class="section section-white">
  <div class="container cd-section" id="headers"  >
    <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-header card-header-image">
                  <a href="#pablo">
                    <img class="img" src="https://demos.creative-tim.com/material-kit-pro/assets/img/examples/card-profile4.jpg">
                    <div class="card-title">
                      Tania Andrew
                    </div>
                  </a>
                <div class="colored-shadow" style="background-image: url('https://demos.creative-tim.com/material-kit-pro/assets/img/examples/card-profile4.jpg'); opacity: 1;"></div></div>
                <div class="card-body ">
                  <h6 class="card-category text-info">Web Designer</h6>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                </div>
                <div class="card-footer justify-content-center">
                            <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round">
                              <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
                              <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-google btn-round">
                              <i class="fa fa-google"></i>
                            </a>
                          </div>
              </div>
            </div>
        </div>
</div>



<script type="text/javascript">
  .cd-vertical-nav{

  }
</script>
