<div class="contact-content">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="title">Send us a message</h2> <br>
        <p class="description">You can contact us with anything. We'll get in touch with you as soon as possible. <br> <br> <br>
          <br>
        </p>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group bmd-form-group has-rose">
            <label for="firstName" class="bmd-label-floating">Your name</label>
            <input type="text"  required class="form-control" id="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">Your name is required</div>
          </div>
          </div>
          <div class="form-group bmd-form-group has-rose">
            <label for="email" class="bmd-label-floating  ">Email address</label>
            <input type="email" required class="form-control" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <span class="bmd-help">We'll never share your email with anyone else.</span>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
          </div>
          <div class="form-group bmd-form-group has-rose">
            <label for="phone" class="bmd-label-floating ">Phone</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
            <span class="bmd-help">We'll never share your email with anyone else.</span>
          </div>
          <div class="form-group label-floating bmd-form-group  has-rose">
            <label class="form-control-label bmd-label-floating  " for="message" > Your message</label>
            <textarea class="form-control" rows="6" data-gramm="true"  id="message" formControlName="message"></textarea>
          </div>
          <div class="submit text-center">
            <input type="submit" class="btn btn-rose btn-raised " value="Contact Us">
          </div>
        </form>
      </div>
      <div class="col-md-6 ml-auto">
        <h2 class="title">We’re here to help!</h2> <br>
        <p class="description"> If you would like to share concerns, ask questions, or find out more about specific services or programs, please email us via the form below or give us a call.<br /> <sub>All information is strictly confidential.</sub></p>
        <div class="info info-horizontal">
          <div class="info info-horizontal">
            <div class="icon icon-rose">
              <fa-icon [icon]="faPhone"></fa-icon>
            </div>
            <div class="description">
              <h4 class="info-title">Get in touch</h4>
              <p class="info-noclour">
                <a href="tel:201-708-8448">201-708-8448</a><br /> <a href=" mailto:info@bodypositiveworks.com">info@bodypositiveworks.com</a></p>
            </div>
          </div>
          <div class="icon icon-rose">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
          </div>
          <div class="description">
            <h4 class="info-title">Find us</h4>
            <p> 96 E Allendale Road <br />Saddle River, New Jersey 07458</p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-rose">
            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
          </div>
          <div class="description">
            <h4 class="info-title">Studio Location</h4>
            <div class="embed-responsive embed-responsive-4by3">
              <div id="map_canvas" class="embed-responsive-item">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.729161579471!2d-74.09945818458526!3d41.03118097929852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e43ef4935539%3A0x5592b2beaa803c74!2s96+E+Allendale+Rd%2C+Saddle+River%2C+NJ+07458%2C+USA!5e0!3m2!1sen!2suk!4v1550608932940"
                  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <br /><br />
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 ml-auto mr-auto">
        <hr> <br />
        <h1 class="h2fix">Want to offer a Workshop / Class at BoPo Works?</h1>
        <h2 class="h4fix"> If you would like to offer a program at BoPo, please answer the following questions in your contact message: How did you hear about Body Positive Works? Please describe the program that you would like to offer at
          BoPoWorks. How does your program support our mission at BoPoWorks? How many hours is the program? When would you like to offer the program? What do you charge for the program and what would be your ideal financial arrangement with
          BoPoWorks? How would you market the program? Have you offered this program before and if so where and how many attendees did you have? Do you plan to offer this program anywhere else and if so where and when? Do you have liability
          insurance? (Pls be aware that we require contractors to submit a copy of their liability insurance) </h2><br /><br /><br />
      </div>
    </div>
  </div>
