
<div class="container">

<div class="section section-white" id="">

  <div class="row text-center">

    <div class="col-sm-12 col-md-12 ml-auto mr-auto">
  
      <div class="card card-nav-tabs" id="myTab">
        <div class="card-header card-header-rose">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
             
                <li class="nav-item">
                  <a class="nav-link active show" href="#Events" data-toggle="tab">
                     Events
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content text-center">

            <div class="tab-pane active show" id="Events">
              
                <div class="row">
                    <div class="col">
                      &nbsp;
                    </div>
                    <div class="col align-self-end">
                        <div *ngIf="services?.length > 0">
                        <div id="FilterMenu" class="dropdown float-right dropleft">
                            <button class="btn btn-default " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Filter&nbsp;&nbsp;<fa-icon [icon]="faFilter"></fa-icon>
                            </button>
                            <div id="FilterMenuLink" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a (click)="filterForeCasts('all')" class="dropdown-item" style="display: block;text-align: center;">All</a>
                                    <div class="dropdown-divider"></div>
                                    <a  *ngFor="let service of services;let i = index" class="dropdown-item" style="display: block;text-align: center;" (click)="filterForeCasts($event.target.text)">{{service.CategoryTitle}}</a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
                <br /><br />
               
                <div  class="row"  *ngIf="events?.length > 0">
             
               
                      <div class="col-lg-12" *ngFor="let event of events| paginate: { itemsPerPage: 10, currentPage: p }">
                          <div class="media-body">
                              <h4 class="media-heading text-rose ">{{event.Title}}    <a target="_blank" href="{{event.URL}}" class="btn btn-rose float-right">Sign up</a></h4>
                              <div *ngFor="let cat of event.categories;let i = index">
                              <span class="badge badge-pill badge-rose float-left mr-1">{{cat.CategoryTitle}}</span>
                              </div>
                           {{event.StartDateTime  | date : "fullDate" }}, {{event.StartDateTime  | date : "shortTime" }} to {{event.EndDateTime  | date : "shortTime" }}<br />
                            <br />  <div class="EventDescription" innerHTML="{{event.Description}}"> </div>
                            </div>
                         
                          <br />
                          <hr><br />
                   
                  </div>

                  <div class="col-lg-12"><br /><br />
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  
           
             
              </div>


            </div>
          </div>

        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>

</div>
