<div id="vertical-nav">
  <ul>
    <li>
      <a href="#WhatIsYoga" data-number="1" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">What is Yoga</span>
      </a>
    </li>
    <li>
      <a href="#BenefitsofYoga" data-number="2" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Benefits of Yoga</span>
      </a>
    </li>
    <li>
      <a href="#WhyChooseUs" data-number="3" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Why Choose Us?</span>
      </a>
    </li>
    <li>
      <a href="#OurYogaClassesTreatments" data-number="4" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Yoga Classes/Treatments</span>
      </a>
    </li>
    <li>
      <a href="#OurYogaforSpecificGroups" data-number="5" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Yoga for Specific Groups</span>
      </a>
    </li>
    <li>
      <a href="#OurYogaPractitioners" data-number="6" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Yoga Practitioners</span>
      </a>
    </li>
    <li>
      <a href="#OurLocationYoga" data-number="7" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Our Location</span>
      </a>
    </li>
  </ul>
</div>







<div class="container">
  <div class="row text-center">
    <div class="col-md-8 ml-auto mr-auto"> <br /><br />
      <h1 class="h2fix">Yoga Bergen County NJ – Winner Bergen Magazine Readers’ Choice Awards</h1>
      <h2 class="h4fix">
        Voted one of the best yoga studios in NJ, we host a wide range of yoga classes and types of yoga - from Kundalini Yoga to Kids Yoga to Restorative Yoga.

        <br /><br />

        In our Bergen yoga studio there’s no “right” way to do a yoga pose, and no judgment. We are body positive warriors (we also love cake), empowering and celebrating you.


      </h2>
      <hr> <br /><br /><br /><br />
    </div>

  </div>
  <div class="container cd-section" id="WhatIsYoga">
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2>What Is Yoga?</h2> <br /><br />
        <h4>

          There is a common misunderstanding that yoga is all about fancy poses – standing on one hand or twisting your body into a pretzel. While this may have a place on Instagram, it’s not what yoga is to us body positive warriors, here in Bergen
          County.
          <br /><br />
          For us yoga is a tool for modern life; a way for everyone - regardless of shape, size or age - to listen to, respect and honor their body. If you can breathe you can do yoga!
          <br /><br />
          It’s also a tool to honor the mind – why let all that negative chatter get in the way of having a great life? Yoga helps us rise above all that chatter, so we can be still. With that stillness it's a lot easier (believe us) to see clearly,
          choose wisely, and act courageously – to handle any curve balls life might throw your way.
          <br /><br />
          For us yoga is also about community. If you’d asked the ancient sages what yoga is they’d tell you the word means “to yoke” – what they were talking about is unity. It’s about unifying our body, breath and mind on the mat, and taking it
          off the mat to create a deep sense of connection with our fellow human beings, and with our best self.
          <br /><br />

        </h4>
      </div>

    </div>
  </div>

  <div class="container cd-section" id="BenefitsofYoga">
    <br /><br />
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2>Benefits of Yoga</h2> <br /><br />
        <h4>

          There are thousands of clinical studies on yoga now and they have proven there to be around 250 health benefits of yoga. At the root of it all is yoga’s effect on the parasympathetic nervous system. Let’s call it the PNS for short.
          Basically, the PNS lowers heart rate and blood pressure, which helps us relax.
          <br /><br />
          That’s why the benefits of yoga include relief of any stress related condition – from anxiety and depression to PTSD and eating disorders. Think of it this way… every time you roll out a yoga mat, your nervous system is breathing a huge
          sigh of relief.
          <br /><br />
          Yoga’s benefits are endless; improved flexibility, balance, sleep, mood, memory, attitudes to food, energy levels, self-esteem, and even helping us cope better with a wide range of health conditions – from migraines to diabetes to dealing
          with cancer.

          <br /><br />
        </h4>
      </div>

    </div>
  </div>

  <div class="container cd-section" id="WhyChooseUs">
    <br /><br />
    <div class="row text-center">
      <div class="col-md-8 ml-auto mr-auto">
        <h2>Why Choose Us?</h2> <br /><br />
        <h4>

          We take our reputation as one of the best yoga studios in NJ seriously. For us this means being there for everyone, and every type of body. We are body positive warriors (who also love cake), empowering and celebrating your path to loving
          yourself. There’s no cookie cutter approach; to us it’s really simple – everyone has a different body, so everyone needs to approach asanas differently.
          <br /><br />
          It’s all about connecting with, accepting and celebrating your body, your mind and your spirit. That’s why our yoga classes emphasize listening to your body’s “voice”. In our yoga studio there’s no universal “right” way to do a yoga pose,
          and no judgment. You can go into a restful pose at any point during yoga class if that’s what your body needs. We teach every yoga student to “stay on their own mats” and not compare themselves with others, or what they “used to” be able
          to do.

          <br /><br />
        </h4>
      </div>

    </div>
  </div>
</div>


<div class="section section-tabs cd-section" id="OurYogaClassesTreatments">
  <div class="row text-center">
    <br /><br />
    <div class="col-sm-10 col-md-8 ml-auto mr-auto">
      <h2>Our Yoga Classes</h2> <br /><br />
      <!-- Tabs with icons on Card -->
      <div class="card card-nav-tabs">
        <div class="card-header card-header-info">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active show" href="#profile" data-toggle="tab">
                    Class 1

                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#messages" data-toggle="tab">
                    Class 2
                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings" data-toggle="tab">
                    Class 3
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content text-center">
            <div class="tab-pane active show" id="profile"> <br /><br />
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br />
              </p>
            </div>
            <div class="tab-pane" id="messages">
              <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the
                answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
            </div>
            <div class="tab-pane" id="settings">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br> <br>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>


<div class="section section-white cd-section" id="OurYogaforSpecificGroups">
  <div class="row text-center">
    <br /><br />
    <div class="col-sm-10 col-md-8 ml-auto mr-auto">
      <h2>Our Yoga for Specific Groups</h2> <br /><br />
      <!-- Tabs with icons on Card -->
      <div class="card card-nav-tabs">
        <div class="card-header card-header-info">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active show" href="#profile1" data-toggle="tab">
                    Specific Group 1

                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#messages1" data-toggle="tab">
                    Specific Group 1
                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings1" data-toggle="tab">
                    Specific Group 1
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="tab-content text-center">
            <div class="tab-pane active show" id="profile1"> <br /><br />
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
                <br> <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br /><br />
              </p>
            </div>
            <div class="tab-pane" id="messages1">
              <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the
                answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
            </div>
            <div class="tab-pane" id="settings1">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br> <br>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>





<div class="section section-tabs cd-section" id="OurYogaPractitioners">


  <div class="row text-center">
    <br /><br />


    <div class="col-sm-10 col-md-7 ml-auto mr-auto">
      <h2>Our Yoga Practitioners</h2> <br /><br />

      <div class="row">
        <div class="col-md-4">

          <div class="card card-profile">
            <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#exampleModal">
              <div class="card-header card-header-image">


                <picture>
                  <source srcset="/assets/images/Teacher-Sheryl.webp" type="image/webp">
                  <source srcset="/assets/images/Teacher-Sheryl.jpg" type="image/jpg">
                  <img src="/assets/images/Teacher-Sheryl" alt="Irene" class="img">
                </picture>


                <div class="card-title">
                  Irene Maltzan Chac
                </div>

                <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-Sheryl.webp'); opacity: 1;"></div>
              </div><br />
              <div class="card-body ">
                <h6 class="card-category text-dark">Certified Holistic Nutritional Counselor</h6>
                <p class="card-description">
                  Irene is a Nutritional Counselor certified by the Institute of Integrative Nutrition and owner of the Wellness Tree...


                </p>
                <b class="text-dark">Click for more</b>

              </div>
            </a>
            <div class="card-footer justify-content-center">
              <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>

              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-facebook">

                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-instagram">

                <fa-icon [icon]="faInstagram"></fa-icon>

              </a>
            </div>
          </div>

        </div>

        <div class="col-md-4">

          <div class="card card-profile">
            <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#exampleModal">
              <div class="card-header card-header-image">


                <picture>
                  <source srcset="/assets/images/Teacher-Irene.webp" type="image/webp">
                  <source srcset="/assets/images/Teacher-Irene.jpg" type="image/jpg">
                  <img src="/assets/images/Teacher-Irene.png" alt="Irene" class="img">
                </picture>


                <div class="card-title"><br />
                  Irene Maltzan Chac
                </div>

                <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-Irene.webp'); opacity: 1;"></div>
              </div><br />
              <div class="card-body ">
                <h6 class="card-category text-dark">Certified Holistic Nutritional Counselor</h6>
                <p class="card-description">
                  Irene is a Nutritional Counselor certified by the Institute of Integrative Nutrition and owner of the Wellness Tree...


                </p>
                <b class="text-dark">Click for more</b>

              </div>
            </a>
            <div class="card-footer justify-content-center">
              <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>

              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-facebook">

                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-instagram">

                <fa-icon [icon]="faInstagram"></fa-icon>

              </a>
            </div>
          </div>

        </div>

        <div class="col-md-4">

          <div class="card card-profile">
            <a href="#" onclick="javascript:$('.modal ').insertAfter($('body'));" data-toggle="modal" data-target="#exampleModal">
              <div class="card-header card-header-image">


                <picture>
                  <source srcset="/assets/images/Teacher-wendy.webp" type="image/webp">
                  <source srcset="/assets/images/Teacher-wendy.jpg" type="image/jpg">
                  <img src="/assets/images/Teacher-wendy.png" alt="Irene" class="img">
                </picture>


                <div class="card-title">
                  Irene Maltzan Chac
                </div>

                <div class="colored-shadow" style="background-image: url('/assets/images/Teacher-wendy.webp'); opacity: 1;"></div>
              </div><br />
              <div class="card-body ">
                <h6 class="card-category text-dark">Certified Holistic Nutritional Counselor</h6>
                <p class="card-description">
                  Irene is a Nutritional Counselor certified by the Institute of Integrative Nutrition and owner of the Wellness Tree...


                </p>
                <b class="text-dark">Click for more</b>

              </div>
            </a>
            <div class="card-footer justify-content-center">
              <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>

              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-facebook">

                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-instagram">

                <fa-icon [icon]="faInstagram"></fa-icon>

              </a>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark" id="exampleModalLabel"><b>Irene Maltzan Chac</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Melanie, co-founder of Body Positive Works, is a psychotherapist whose practice is dedicated to working with adolescents, adults, and families who are dealing with eating disorders, body image, substance addiction, and stage of life
            issues. A Licensed Clinical Social Worker and Licensed Clinical Alcohol and Drug Counselor with 25 years of direct practice experience, she holds the highest New Jersey licensure in both disciplines.
            <br /><br />Over the years, Melanie has worked with clients in a variety of settings: hospital, crisis center, private non-profit agency, and private practice. She has gained a broad perspective and deep understanding of the challenges
            her clients face when seeking specialized services from multiple resources. The Body Positive Works was born of the realization that having a variety of services under one roof – and providing a strong sense of community – would support
            clients in achieving greater overall health, recovery, and long-term growth. <br /><br />
            Melanie holds a Masters of Social Work from Columbia University and a BA in Psychology and Law and Justice from The College of New Jersey.
          </div>
          <div class="modal-footer">
            <a href="/#/Schedule" onclick="javascript:$('#exampleModal').modal('hide');" class="btn btn-rose">Book a Class&nbsp;&nbsp;<fa-icon [icon]="faCalendarAlt"></fa-icon></a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

  </div>








</div>

<div class="section section-white">

  <div class="container cd-section" id="OurLocationYoga">
    <div class="row text-center">
      <div class="col-md-6 ml-auto mr-auto">
        <h2>Our Location</h2> <br /><br />
        <h4>
          We are Yoga NJ – official, and winners of Bergen Magazine’s Readers’ Choice Awards! Our reach extends from our beautiful heritage house at the heart of Allendale to Saddle River NJ, Bergen County and beyond.
          <br /><br />
          Check out how close you are to us on the map, or use the drive time calculator from all localities – including Fair Lawn and Hawthorn, Norwood and Northvale. Yoga this good is well worth a 20 minute drive. Promise!
          <br /><br /><br />
          <button onclick="javascript:$('.modal ').insertAfter($('body'));" class="btn btn-info" type="button" data-toggle="modal" data-target="#LocationModalLabel">Drive time calculator<div class="ripple-container"></div></button>

          <div class="modal fade" id="LocationModalLabel" tabindex="-1" role="dialog" aria-labelledby="LocationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="LocationModalLabel">Drive time calculator</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>

                </div>
                <div class="modal-body">
                  <a target="_blank" href="https://www.google.com/maps?ll=41.031181,-74.097269&z=16&t=m&hl=en-US&gl=GB&mapclient=embed&daddr=96+E+Allendale+Rd+Saddle+River,+NJ+07458+USA@41.031181,-74.0972695" class="btn btn-info d-flex justify-content-center">Get
                    directions to us&nbsp;&nbsp;<fa-icon [icon]="faMapMarkerAlt"></fa-icon></a><br />
                  <table class="table  table-striped">
                    <thead>
                      <tr>
                        <th>Location</th>
                        <th>Drive</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Saddle River</td>
                        <td>0 min</td>
                      </tr>
                      <tr>
                        <td>Allendale</td>
                        <td>7 min</td>
                      </tr>
                      <tr>
                        <td>Bergen</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Chestnut Ridge</td>
                        <td>5 min</td>
                      </tr>
                      <tr>
                        <td>Fair Lawn</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Franklin Lakes</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Glen Rock</td>
                        <td>16 min</td>
                      </tr>
                      <tr>
                        <td>Hawthorn</td>
                        <td>19 min</td>
                      </tr>
                      <tr>
                        <td>Hillsdale</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Hohokus</td>
                        <td>8 min</td>
                      </tr>
                      <tr>
                        <td>Mahwah</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Midland Park</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Monsey</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Montebello</td>
                        <td>18 min</td>
                      </tr>
                      <tr>
                        <td>Montvale</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Nanuet</td>
                        <td>16 min</td>
                      </tr>
                      <tr>
                        <td>Northvale</td>
                        <td>22 min</td>
                      </tr>
                      <tr>
                        <td>Norwood</td>
                        <td>20 min</td>
                      </tr>
                      <tr>
                        <td>Paramus</td>
                        <td>14 min</td>
                      </tr>
                      <tr>
                        <td>Park Ridge</td>
                        <td>9 min</td>
                      </tr>
                      <tr>
                        <td>Pear River</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Pearl River</td>
                        <td>13 min</td>
                      </tr>
                      <tr>
                        <td>Ramsey</td>
                        <td>7 min</td>
                      </tr>
                      <tr>
                        <td>Ridgewood</td>
                        <td>11 min</td>
                      </tr>
                      <tr>
                        <td>Saddle Brook</td>
                        <td>19 min</td>
                      </tr>
                      <tr>
                        <td>Spring Vallet</td>
                        <td>17 min</td>
                      </tr>
                      <tr>
                        <td>Suffern</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Upper Saddle River</td>
                        <td>4 min</td>
                      </tr>
                      <tr>
                        <td>Waldwick</td>
                        <td>6 min</td>
                      </tr>
                      <tr>
                        <td>Washington Township</td>
                        <td>10 min</td>
                      </tr>
                      <tr>
                        <td>Westwood</td>
                        <td>12 min</td>
                      </tr>
                      <tr>
                        <td>Woodlcliff Lake</td>
                        <td>4 min</td>
                      </tr>

                    </tbody>
                  </table>

                  <br />
                </div>
                <div class="modal-footer">



                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <br /><br /> <br /><br />
        </h4>
      </div>
      <div class="col-md-6 ml-auto mr-auto"> <br /><br />
        <div class="embed-responsive embed-responsive-4by3">
          <div id="map_canvas" class="embed-responsive-item">


            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.729161579471!2d-74.09945818458526!3d41.03118097929852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e43ef4935539%3A0x5592b2beaa803c74!2s96+E+Allendale+Rd%2C+Saddle+River%2C+NJ+07458%2C+USA!5e0!3m2!1sen!2suk!4v1550608932940"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>
